---
layout: default
title: about-us
header: Über uns
description: Das senseBox Team besteht aus Mitarbeitern der Universität Münster und der Reedu GmbH & Co. KG
id: about-us
---
{% assign teammembers-reedu = site.data.team-reedu | sort: 'position' %}
{% assign teammembers-uni = site.data.team-uni | sort: 'position' %}

<div class="container">
    <h1>Team an der Westfälischen Wilhelms-Universität Münster</h1>
    <div class="row">
        {% for teammember in teammembers-uni %}
        <div class="item col-md-6 col-12">
            <div class="item-inner">
                <div class="row">
                    <figure class="figure col-md-5 col-12">
                        <img class="img-fluid" src="{{ teammember.image }}" alt="">
                    </figure>
                    <div class="info col-md-7 col-12">
                        <h3 class="name">{{ teammember.name }}</h3>
                        <h4 class="role">{{ teammember.role }}</h4>
                        <p>{{ teammember.description }}</p>
                    </div>
                    <!--//info-->
                </div>
            </div>
            <!--//item-inner-->
        </div>
        {% endfor %}
    </div>
</div>



<hr>



<div class="container">
    <h1>Team-Reedu</h1>
    <div class="row">
        {% for teammember in teammembers-reedu %}
        <div class="item col-md-6 col-12">
            <div class="item-inner">
                <div class="row">
                    <figure class="figure col-md-5 col-12">
                        <img class="img-fluid" src="{{ teammember.image }}" alt="">
                    </figure>
                    <div class="info col-md-7 col-12">
                        <h3 class="name">{{ teammember.name }}</h3>
                        <h5 class="role">{{ teammember.role }}</h5>
                        <p>{{ teammember.description }}</p>
                    </div>
                    <!--//info-->
                </div>
            </div>
            <!--//item-inner-->
        </div>
        {% endfor %}
    </div>
</div>