<div class="container main-container">
    <div class="row">
        <h1>Über uns</h1>
        <p>Wir sind ein interdisziplinäres Team bestehend aus Mitarbeitenden des Start-Ups <a href="re:edu">https://reedu.de/</a> und vom <a href="Institut für Geoinformatik">https://www.uni-muenster.de/Geoinformatics//</a> der Universität Münster. Die Idee der senseBox entstand durch das Schüler- und Forschungslabor "GI@School", um Grundlagen der Informatik sowie Datenkompetenzen anwendungsbezogen mit der Erhebung und Auswertung von Umweltdaten zu vermitteln. In Zusammenarbeit wurde im Rahmen des Forschungsprojektes <a href="senseBox:pro">https://sensebox.de/de/research</a>" die senseBox und ihre verschiedenen Bausätze entwickelt. Auch nach Ende der Projektlaufzeit arbeiten wir weiterhin gemeinsam in verschiedenen Forschungsprojekten an der Weiterentwicklung der senseBox.</p>
    </div>
</div>

{% assign teammembers-reedu = site.data.i18n.[page.lang].team-reedu | sort: 'position'  %}
{% assign teammembers-uni = site.data.i18n.[page.lang].team-uni | sort: 'position' %}
{% assign awardslist = site.awards | sort: 'weight' %}

<div class="container main-container">
    <h1>Team der Universität Münster</h1>
    <div class="row">
        {% for teammember in teammembers-uni %}
        <div class="item col-md-6 col-12">
            <div class="item-inner m-2">
                <div class="row">
                    <div class="figure col-md-5 col-12">
                        <img loading="lazy" class="img-fluid" src="{{ teammember.image }}" alt="">
                    </div>
                    <div class="info col-md-7 col-12">
                        <h3 class="name">{{ teammember.name }}</h3>
                        <h4 class="role">{{ teammember.role }}</h4>
                        <p>{{ teammember.description }}</p>
                    </div>
                    <!--//info-->
                </div>
            </div>
            <!--//item-inner-->
        </div>
        {% endfor %}
    </div>
</div>



<hr>



<div class="container main-container">
    <h1>Team von re:edu</h1>
    <div class="row">
        {% for teammember in teammembers-reedu %}
        <div class="item col-md-6 col-12">
            <div class="item-inner m-2">
                <div class="row">
                    <div class="figure col-md-5 col-12">
                        <img loading="lazy" class="img-fluid" src="{{ teammember.image }}" alt="">
                    </div>
                    <div class="info col-md-7 col-12">
                        <h3 class="name">{{ teammember.name }}</h3>
                        <h5 class="role">{{ teammember.role }}</h5>
                        <p>{{ teammember.description }}</p>
                    </div>
                    <!--//info-->
                </div>
            </div>
            <!--//item-inner-->
        </div>
        {% endfor %}
    </div>
</div>

<hr>

<div class="container main-container">

    <div class="row">
        <h1 id="Förderung"><mark>Förderungen</mark></h1>
        {% for award in awardslist %}
        {% if award.type == 'grant' %}
        <div class="posts py-5">
            <h2 style="clear:both">{{ award.title }}</h2>
            <div class="row">
                {% if award.thumbnail %}
                <div class="col-sm-4">
                    <img loading="lazy" class="award-pic" src="{{ site.baseurl | append: award.thumbnail }}"
                        alt="{{ award.title }} - Logo" />
                </div>

                <div class="col-sm-8">
                    <div class="content">
                        {{ award.content }}
                    </div>
                </div>
                {% else %}
                <div class="content">
                    {{ award.content }}
                </div>
                {% endif %}
            </div>
            <hr class="clear nomargin">
        </div>
        {% endif %}
        {% endfor %}
    </div>


    <div class="row">
        <h1><mark>Auszeichnungen</mark></h1>

        {% for award in awardslist %}
        {% if award.type == 'award' %}
        <div class="posts py-5">
            <h2 style="clear:both">{{ award.title }}</h2>
            <div class="row">
                {% if award.thumbnail %}
                <div class="col-sm-4">
                    <img loading="lazy" class="award-pic" src="{{ site.baseurl | append: award.thumbnail }}"
                        alt="{{ award.title }} - Logo" />
                </div>
                <div class="col-sm-8">
                    <div class="content">
                        {{ award.content }}
                    </div>
                </div>
                {% else %}
                <div class="content">
                    {{ award.content }}
                </div>
                {% endif %}
            </div>
            <hr class="clear nomargin">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>