{% assign t = site.data.i18n.[page.lang].app %}
<div class="container">
  <div class="row row-padding">
    <div class="col-lg-12 pb-4 middle">
      <h1>senseBox Connect App</h1>
    </div>
    <div class="col-12">
      <h2>Vorbereitungen</h2>
      <p>
        Damit du die senseBox-App zum Übertragen von Programmcodes verwenden
        kannst, musst du zunächst einige Vorbereitungen treffen.
      </p>
      <ol>
        <li>
          <p>
            Installiere die senseBox Connect App auf deinem Tablet oder
            Smartphone. Wir empfehlen zum Programmieren des Programmcodes ein
            Tablet zu verwenden!
          </p>
          <a
            href="https://apps.apple.com/app/id1586961095#?platform=ipad"
            class=""
            target="_blank"
            style="display: inline-block; padding: 20px;"
          >
            <object
              style="pointer-events: none"
              data="/images/app/Download_on_the_App_Store_Badge_DE_RGB_blk_092917.svg"
              type="image/svg+xml"
              
              width="auto"
              height="75px"
            >
              <!-- Für Browser ohne SVG-Unterstützung -->
              <span>Your browser doesn't support SVG images</span>
            </object>
          </a>
          <a target="_blank"
          style="display: inline-block; padding: 20px;" href='https://play.google.com/store/apps/details?id=de.sensebox.blockly.connect&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><object
            style="pointer-events: none"
            data="/images/app/google-play-badge.png"
            type="image/png"
            width="auto"
            padding="30px"
            height="75px"
          >
            <!-- Für Browser ohne SVG-Unterstützung -->
            <span>Your browser doesn't support SVG images</span>
          </object></a>
         <p><small>Apple, das Apple-Logo und iPhone sind Marken von Apple Inc. und in den USA und anderen Ländern eingetragen. App Store ist eine Dienstleistungsmarke von Apple Inc.</small></p> 
      <p> <small>Google Play und das Google Play-Logo sind Marken von Google LLC.</small></p>
       
        </li>
        <li>
          <p>
            Für die Verbindung zur senseBox wird später deine WiFi-ID benötigt.
            Die WiFi-ID ist eine einzigartige Identifikation, die du in der
            senseBox Connect App eingeben kannst. Die WiFi-ID deiner senseBox
            bzw. deines WiFi-Bees findest du auf der Rückseite. Die ID besteht aus
            den letzten 4 Stellen der MAC-Adresse deines WiFi-Bees. Am besten
            notierst du dir irgendwo deine WiFi-ID, damit du sie später wiederfinden kannst.
          </p>
          <p>
            Stecke das WiFi-Bee auf den Steckplatz XBee-1 auf der senseBox MCU.
          </p>
          <div class="row">
            <div class="col-6">
              {% include image.html image="/images/app/wifi-id.jpg" %}
            </div>
            <div class="col-6">
              {% include image.html image="/images/app/wifibee.jpeg" %}
            </div>
          </div>
        </li>
        <li>
          <p>
            Kopiere den OTA-Sketch über deinen Computer auf die senseBox MCU.
          </p>
          <em>
            Dieser Schritt muss nur einmal ausgeführt werden, solange du deine
            senseBox MCU über das Tablet programmierst. Sobald du erneut einen
            Programmcode über den Computer auf die senseBox MCU kopierst, muss
            dieser Schritt erneut ausgeführt werden.
          </em>
          <p>
            <a class="btn btn-sensebox-green" href="/docs/ota_boot.bin"
              >Download</a
            >
          </p>
        </li>
        <li>
          <p>
            Verbinde die senseBox MCU mit einer Stromquelle. Du kannst hierfür
            ein USB-Netzteil oder auch eine Powerbank nutzen.
          </p>
        </li>
      </ol>
    </div>

    <div class="col-12">
      <h2>Programmieren und Programmcode übertragen</h2>
      <ol>
        <li>
          <p>
            Erstelle deinen Programmcode in der
            <a
              href="https://blockly-react.netlify.app/"
              class=""
              >senseBox Lern- und Programmierumgebung</a
            >
            {% include image.html image="/images/app/IMG_0067.PNG" %}

          </p>
          <p>Die Programmieroberfläche erkennt in der Regel automatisch, welches Gerät du zum Programmieren verwendest und aktiviert automatisch den Tabletmodus, wenn du die Oberfläche von einem Tablet öffnest. Dies wird durch ein Begrüßungsfenster dargestellt. Sollte dieses Fenster nicht angezeigt werden, wenn du die Seite auf einem Tablet öffnest, kannst du den Tabletmodus auch in den Einstellungen unter "Tablet Modus" aktivieren.</p>
          {% include image.html image="/images/app/tablet_modus01.png" %}
          <p>
            Wenn du die Programmierung abgeschlossen hast, klicke auf den orangenen
            Button, um den Programmcode zu kompilieren und die Übertragung zu
            starten.
          </p>
        </li>
        <li>
          Nachdem der Code erfolgreich kompiliert und überprüft wurde, starte die
          Übertragung.
          {% include image.html image="/images/app/IMG_0068.PNG" %}
        </li>
        <li>
          Nachdem du den Button "Starte Übertragung" gedrückt hast, wirst du
          gefragt, ob du die senseBox-App öffnen möchtest.
          {% include image.html image="/images/app/IMG_0069.PNG" %}
        </li>
        <li>
          Nach dem Öffnen der App kannst du den Prozess des Übertragens auf
          deine senseBox mit einem Drücken auf den Button starten.
          {% include image.html image="/images/app/IMG_0070.PNG" %}
        </li>
        <li>
          Starte den OTA-Modus auf deiner senseBox durch Halten des Switch
          Buttons und Drücken des Reset Buttons. Lasse den Reset Button los und
          halte den Switch Button für weitere 5 Sekunden gedrückt, bis die gelbe
          LED neben dem Reset Button anfängt zu blinken. 
          <p>Im Video siehst du, wie
          du den OTA-Modus aktivierst.</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jzlOJ7Zuqqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </li>
        <li>
          Trage die WiFi-ID deiner senseBox ein und stelle die Verbindung durch
          einen Klick auf den Button her. Sobald die Verbindung hergestellt
          wurde, kannst du den Programmcode übertragen.
          {% include image.html image="/images/app/IMG_0071.PNG" %}
        </li>
        <li>
          Super! Der Programmcode wurde übertragen und wird nun von der senseBox
          MCU ausgeführt. Beachte, dass du jedes Mal, wenn du einen Programmcode
          neu übertragen willst, diese Schritte erneut ausgeführt werden müssen.
        {% include image.html image="/images/app/IMG_0073.PNG" %}
        </li>
      </ul>
    </div>
    <div class="col-12">
      <h2>Video</h2>
      <p>
        Hier findest du ein Video, welches dir den kompletten Prozess zeigt, wie du die senseBox mit dem
        Tablet programmieren kannst.
      </p>
    </div>
  </div>
</div>
