{% assign t = site.data.i18n.[page.lang].blockly %}
<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">{{ t.head-1 }}</h2>
            <p class="lead">{{ t.text-1 }}</p>
            <a href="https://blockly.sensebox.de/ardublockly/?board=sensebox-mcu&lang=de" class="btn btn-success">Zu
                Blockly</a>
            <a href="https://docs.sensebox.de/category/blockly/" class="btn btn-success">Dokumentation</a>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/editoren/blockly.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>

<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row row-padding featurette">
            <div class="col-md-7 order-md-2 middle">
                <h2 class="featurette-heading">{{ t.head-2 }}</h2>
                <p class="lead">{{ t.text-2 }}</p>
            </div>
            <div class="col-md-5 order-md-1 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/editoren/arduino.png"
                    alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">{{ t.head-3 }}</h2>
            <p class="lead">{{ t.text-3 }}</p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/editoren/nepo.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>
