<div class="row">
    <p>Schön, dass du bei der senseBox gelandet bist. Falls du Fragen zu unseren Produkten hast kannst du dich gerne
        vorab durch unsere FAQ Seite klicken.
        Konnte dein Wissensdurst nicht gestillt werden oder willst du uns einfach mal Hallo sagen, dann schreib uns doch
        einfach eine Nachricht und wir werden uns in Kürze bei dir melden.</p>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        <div class="box-part text-center">

            <i class="fab fa-discourse fa-3x" aria-hidden="true"></i>

            <div class="title">
                <h4>Forum</h4>
            </div>

            <div class="text">
                <span>Ihr habt Fragen zu einer Bestellung? Dann meldet euch unter:</span>
            </div>

            <a href="https://forum.sensebox.de">https://forum.sensebox.de</a>

        </div>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        <div class="box-part text-center">

            <i class="fas fa-info fa-3x" aria-hidden="true"></i>

            <div class="title">
                <h4>Info</h4>
            </div>

            <div class="text">
                <span>Ihr habt generelle Fragen zum Produkt? Meldet euch unter info@sensebox.de</span>
            </div>

            <a href="#">Learn More</a>

        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        <div class="box-part text-center">

            <i class="far fa-question-circle fa-3x" aria-hidden="true"></i>

            <div class="title">
                <h4>Support</h4>
            </div>

            <div class="text">
                <span>Ihr habt eure senseBox bereits vor euch liegen allerdings benötigt ihr einen Tipp oder es hakt
                </span>
            </div>

            <a href="mailto:support@sensebox.de">support.sensebox.de</a>

        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        <div class="box-part text-center">

            <i class="fas fa-shopping-cart fa-3x" aria-hidden="true"></i>

            <div class="title">
                <h4>Shop</h4>
            </div>

            <div class="text">
                <span>Ihr habt Fragen zu einer Bestellung? Dann meldet euch unter:</span>
            </div>

            <a href="mailto:support@sensebox.kaufen">support@sensebox.kaufen</a>

        </div>
    </div>


</div>


<div class="row">
    <h2>Oder folgt uns auf:</h2>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>

            <div class="title">
                <h4>Instagram</h4>
            </div>

            <a href="#">Learn More</a>

        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <i class="fab fa-twitter fa-3x" aria-hidden="true"></i>

            <div class="title">
                <h4>Twitter</h4>
            </div>


            <a href="#">Learn More</a>

        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <i class="fab fa-facebook fa-3x" aria-hidden="true"></i>

            <div class="title">
                <h4>Facebook</h4>
            </div>
            <a href="#">Learn More</a>

        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">

            <i class="fab fa-youtube fa-3x" aria-hidden="true"></i>

            <div class="title">
                <h4>Youtube</h4>
            </div>


            <a href="https://youtube.com/c/sensebox_de">https://youtube.com/c/sensebox_de</a>

        </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">
            <a href="https://github.com/sensebox">
                <i class="fab fa-github fa-3x" aria-hidden="true"></i>

                <div class="title">
                    <h4>Github</h4>
                </div>
                https://github.com/sensebox
            </a>
        </div>
    </div>