{% assign t = site.data.i18n.[page.lang].contact %}
<div class="container">

    <div class="row">
        <p>{{t.main-contact}}</p>
    
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    
            <div class="box-part text-center">
    
                <i class="fab fa-discourse fa-3x" aria-hidden="true"></i>
    
                <div class="title">
                    <h4>{{ t.forum-head }}</h4>
                </div>
    
                <div class="text">
                    <span>{{ t.forum-text }}</span>
                </div>
    
                <a href="https://forum.sensebox.de">https://forum.sensebox.de</a>
    
            </div>
        </div>
    
    
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    
            <div class="box-part text-center">
    
                <i class="fas fa-info fa-3x" aria-hidden="true"></i>
    
                <div class="title">
                    <h4>{{ t.info-head }}</h4>
                </div>
    
                <div class="text">
                    <span>{{ t.info-text }}</span>
                </div>
    
                <a href="mailto:info@sensebox.de">info(at)sensebox.de</a>
    
            </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    
            <div class="box-part text-center">
    
                <i class="far fa-question-circle fa-3x" aria-hidden="true"></i>
    
                <div class="title">
                    <h4>{{t.support-head}}</h4>
                </div>
    
                <div class="text">
                    <span>{{ t.support-info }}</span>
                </div>
    
                <a href="mailto:support@sensebox.de">support(at)sensebox.de</a>
    
            </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    
            <div class="box-part text-center">
    
                <i class="fas fa-shopping-cart fa-3x" aria-hidden="true"></i>
    
                <div class="title">
                    <h4>{{ t.shop-head }}</h4>
                </div>
    
                <div class="text">
                    <span>{{ t.shop-info }}</span>
                </div>
    
                <a href="mailto:support@sensebox.kaufen">support@sensebox.kaufen</a>
    
            </div>
        </div>
    
    
    </div>
    
    
    <div class="row">
        <h2>Oder folgt uns auf:</h2>
    
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    
            <div class="box-part text-center">
    
                <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
    
                <div class="title">
                    <h4>Instagram</h4>
                </div>
    
                <a href="https://www.instagram.com/sensebox_de/?hl=de">sensebox_de</a>
    
            </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    
            <div class="box-part text-center">
    
                <i class="fab fa-twitter fa-3x" aria-hidden="true"></i>
    
                <div class="title">
                    <h4>Twitter</h4>
                </div>
    
    
                <a href="https://twitter.com/SenseBox_De">@sensebox_De</a>
    
            </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    
            <div class="box-part text-center">
    
                <i class="fab fa-facebook fa-3x" aria-hidden="true"></i>
    
                <div class="title">
                    <h4>Facebook</h4>
                </div>
                <a href="https://www.facebook.com/sensebox.de/">sensebox.de</a>
    
            </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    
            <div class="box-part text-center">
    
                <i class="fab fa-youtube fa-3x" aria-hidden="true"></i>
    
                <div class="title">
                    <h4>Youtube</h4>
                </div>
    
    
                <a href="https://youtube.com/c/sensebox_de">https://youtube.com/c/sensebox_de</a>
    
            </div>
        </div>
    
    
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    
            <div class="box-part text-center">
                <i class="fab fa-github fa-3x" aria-hidden="true"></i>
    
                <div class="title">
                    <h4>Github</h4>
                </div>
                <a href="https://github.com/sensebox">https://github.com/sensebox"</a>
            </div>
        </div>
</div>