{% assign t = site.data.i18n.[page.lang].editoren %}
<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{ t.blockly-head }}</h2>
            <p class="lead">{{ t.blockly-text }}</p>
            <a href="https://blockly.sensebox.de/ardublockly/?board=sensebox-mcu&lang=de" class="btn btn-success">Zu
                Blockly</a>
            <a href="https://docs.sensebox.de/category/blockly/" class="btn btn-success">Dokumentation</a>
        </div>
        <div class="col-md-5">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/editoren/blockly.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>

<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row row-padding featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">{{ t.arduino-head }}</h2>
                <p class="lead">{{ t.arduino-text }}</p>
                <a href="https://arduino.cc" class="btn btn-success">Zur
                    Arduino Website</a>
                <a href="https://docs.sensebox.de/category/arduino/" class="btn btn-success">Anleitung</a>
            </div>
            <div class="col-md-5 order-md-1">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/editoren/arduino.png"
                    alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{ t.nepo-head }}</h2>
            <p class="lead">{{ t.nepo-text }}</p>
            <a href="https://lab.open-roberta.org/" class="btn btn-success">Zu
                openRoberta</a>
            <a href="https://docs.sensebox.de/category/blockly/" class="btn btn-success">Dokumentation</a>
        </div>
        <div class="col-md-5">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/editoren/nepo.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>
