<div class="container">
    <h1><mark style="background-color: yellow;">Events</mark></h1>
    <div class="row row-padding">
        <div class="col-lg-7 mx-auto">
            <ul class="timeline">
                {% assign events = site.events | sort: 'ending-date' %}
                {% for event in events %}
                {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
                {% capture eventendingdateunix %}{{event.ending-date | date: '%s'}}{% endcapture %}
                {% if eventendingdateunix > nowunix %}
                {% assign index = forloop.length | minus: forloop.index %}
                {% include event_template.html event=event %}
                {% assign i = i | plus: 1 %}
                {% endif %}
                {% if i == 8 %}
                {% break %}
                {% endif %}
                {% endfor %}
            </ul><!-- End -->
        </div>
    </div>
</div>