{% assign t = site.data.i18n.[page.lang].faq %}

<div class="container main-container">
    <div>
        <h1>{{t.general}}</h1>
        <div>
            <h2>{{t.question-1}} </h2>
            <p>{{t.answer-1}} </p>
        </div>
        <div>
            <h2>{{t.question-2}} </h2>
            <span>{{t-question-2-intro-text}} </span>
            <ul>
                <li>{{t.answer-2-1}} </li>
                <li>{{t.answer-2-2}} </li>
                <li>{{t.answer-2-3}} </li>
                <li>{{t.answer-2-4}} </li>
            </ul>
        </div>
        <div>
            <h2>{{t.question-3}} </h2>
            <p>{{t.answer-3}} </p>
        </div>
        <div>
            <h2>{{t.question-4}} </h2>
            <p>{{t.answer-4}} </p>
        </div>
        <div>
            <h2>{{t.question-5}} </h2>
            <p>{{t.answer-5}} </p>
        </div>
        <div>
            <h2>{{t.question-6}} </h2>
            <p>{{t.answer-6}} </p>
        </div>  
        <div>
            <h2>{{t.question-7}} </h2>
            <p>{{t.answer-7}} </p>
        </div>
        <div>
            <h2>{{t.question-8}} </h2>
            <p>{{t.answer-8}} </p>
        </div>
        <div>
            <h2>{{t.question-9}} </h2>
            <p>{{t.answer-9}} </p>
        </div>
        <div>
            <h2>{{t.question-10}} </h2>
            <p>{{t.answer-10}} </p>
        </div>
        <div>
            <h2>{{t.question-11}} </h2>
            <p>{{t.answer-11}} </p>
        </div>
        <div>
            <h2>{{t.question-12}} </h2>
            <p>{{t.answer-12}} </p>
        </div>
</div>