<div class="row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="/images/go/edu/blockly.png" class="img-responsive" width="100%">
            </div>
            <div class="col-md-8 text-center">
                    <h1>Schnellstart Anleitung Blockly</h1>
                    <p>In diesem Tutorial wird dir die Oberfläche und Bedienung von Blockly erklärt.</p>
                    
                    <a href="https://docs.sensebox.de/blockly/blockly-erster-sketch/" class="btn btn-primary">Los gehts</a>
               
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color: whitesmoke;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 text-center">
                <h1>Schnellstart Anleitung Arduino IDE</h1>
                <p>In diesem Tutorial findest du alle Informationen zur Programmierng deiner senseBox mit der Arduino IDE.</p>
                <a href="https://docs.sensebox.de/arduino/allgemein-basics-inbetriebnahme//" class="btn btn-primary">Los gehts</a>
            </div>
            <div class="col-md-4" style="background-color: whitesmoke;">
                <img src="/images/go/edu/arduino.png" class="img-responsive" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="/images/go/edu/material.png" class="img-responsive" width="100%">
            </div>
            <div class="col-md-8 text-center">
                <h1>Material und Projekte</h1>
                <p>Hier findest du Materialien zum Einsatz der senseBox in der Lehre und Projekte zum Nachbauen.
                </p>
                <a href="https://sensebox.de/de/material.html" class="btn btn-primary">Zum Material</a>
                <a href="https://sensebox.de/de/projekte.html" class="btn btn-primary">Zu den Projekten</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color: whitesmoke;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 text-center">
                <h1>Wo finde ich Hilfe?</h1>
                <p>Du benötigst Hilfe mit deiner senseBox, hier findest du die nötigen Informationen:</p>
                <a target="_blank" href="mailto:support@sensebox.de" class="btn btn-primary">E-Mail</a>
                <a target="_blank" href="https://forum.sensebox.de/" class="btn btn-primary">Forum</a>
                <a target="_blank" href="https://docs.sensebox.de/faq/" class="btn btn-primary">FAQ</a>
            </div>
            <div class="col-md-4" style="background-color: whitesmoke;">
                <img src="/images/go/edu/hilfe.png" class="img-responsive" width="100%">
            </div>
        </div>
    </div>
</div>