
    <div class="container-fluid go-container">
        <div class="row go-featurette g-3 g-lg-4 justify-content-center">
            <div class="col-12">
                <h2 style="text-align: center;">{{content.i-want}}</h2>
            </div>


            <div class="col-md-6 col-lg-3">
                <a href="{{page.baseurl}}/{{page.lang}}/go-home.html" class="go-card-link">
                    <div class="card">
                        <img loading="lazy" src="/images/products/home_title.png" class="card-img-top" alt="senseBox:home">
                        <div class="card-body go-card-body">
                            <span class="btn btn-sensebox-blue">senseBox:home</span>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img loading="lazy" src="/images/products/edu_title.png" class="card-img-top" alt="senseBox:edu">
                    <div class="card-body go-card-body">
                        <a href="{{page.baseurl}}/{{page.lang}}/go-edu.html"
                            class="btn btn-sensebox-red">senseBox:edu</a>
                        <a href="{{page.baseurl}}/{{page.lang}}/go-edu-s2.html"
                            class="btn btn-sensebox-red">senseBox:edu S2</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <a href="{{page.baseurl}}/{{page.lang}}/go-basic.html" class="go-card-link">
                    <div class="card">
                        <img loading="lazy" src="/images/products/basic_title.png" class="card-img-top" alt="senseBox:basic">
                        <div class="card-body go-card-body">
                            <span class="btn btn-sensebox-green">senseBox:basic</span>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-6 col-lg-3">
                <a href="https://docs.sensebox.de/hardware/sets-co2-ampel/" class="go-card-link">
                    <div class="card">
                        <img loading="lazy" src="/images/products/co2_title.png" class="card-img-top" alt="CO2-Ampel">
                        <div class="card-body go-card-body">
                            <span class="btn btn-sensebox-orange">CO<sub>2</sub>-Ampel</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>