
    <div class="container">
        <div class="row go-featurette">
            <!-- <div class="col-lg-12 pb-4 middle">
                <h1 style="text-align: center;">Wähle deine senseBox</h1>
            </div> -->
            <div class="col-lg-12">
                <h2 style="text-align: center;">{{content.i-want}}</h2>
            </div>


            <div class="col-md-6">
                <div class="card" style="width: auto;">
                    <img loading="lazy" src="/images/products/home_title.png" class="card-img-top" alt="...">
                    <div class="card-body go-card-body">
                        <a href="{{page.baseurl}}/{{page.lang}}/go-home.html"
                            class="btn btn-sensebox-blue">senseBox:home</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card" style="width: auto;">
                    <img loading="lazy" src="/images/products/mini_title-2.png" class="card-img-top" alt="...">
                    <div class="card-body go-card-body">
                        <a href="{{page.baseurl}}/{{page.lang}}/go-mini.html"
                            class="btn btn-sensebox-green">senseBox:mini v1</a>
                            <a href="{{page.baseurl}}/{{page.lang}}/go-mini-v2.html"
                            class="btn btn-sensebox-green">senseBox:mini v2</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card" style="width: auto;">
                    <img loading="lazy" src="/images/products/edu_title.png" class="card-img-top" alt="...">
                    <div class="card-body go-card-body">

                        <a href="{{page.baseurl}}/{{page.lang}}/go-edu.html"
                            class="btn btn-sensebox-red">senseBox:edu</a>
                            <a href="{{page.baseurl}}/{{page.lang}}/go-edu-s2.html"
                            class="btn btn-sensebox-red">senseBox:edu S2</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: auto;">
                    <img loading="lazy" src="/images/products/co2_title.png" class="card-img-top" alt="...">
                    <div class="card-body go-card-body">
                        <a href="https://docs.sensebox.de/hardware/sets-co2-ampel/"
                            class="btn btn-sensebox-orange">CO<sub>2</sub>-Ampel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>