{% assign content = site.data.i18n.[page.lang].index %}
<div class="paperlike">
    <div class="container">
        <div class="d-flex justify-content-center">
                <div class="card" style="padding: 2rem; border: none; clip-path: polygon(21% 12%, 80% 8%, 96% 20%, 98% 80%, 68% 77%, 25% 86%, 0% 80%, 1% 20%)">
                    <div class=" card-body">
                        <p>
                            <mark style="background-color: rgb(252, 70, 43); color: white;">
                                {{ content.new }}
                            </mark> 
                            &nbsp;{{ content.announcement-text }}&nbsp;
                            <a href="{{ content.announcement-link}}" class="btn" style="background-color: rgb(51,51,51); color: white;">
                                {{ content.announcement-button}}
                            </a>
                        </p>
                    </div>
                </div>
        </div>
        <div class="row row-padding">
            <div class="col-md-6">
                <h1><mark>
                        {{content.sensebox-head}}
                    </mark></h1>
                <p>
                    {{content.sensebox-short-description}}
                </p>
            </div>
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/images/editoren/arduino.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/editoren/blockly.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/editoren/nepo.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>


        <h1>{{content.sensebox-overview}}</h1>
        <div class="row row-padding">
            <div class="col-lg-4">
                <img class="rounded-circle" src="/images/products/home_title.png" alt="Generic placeholder image"
                    width="100%" height="auto">
                <h2>senseBox:home</h2>
                <p>{{content.sensebox-overview-home}}</p>
                <p><a class="btn btn-secondary" href="products-home.html"
                        role="button">{{ content.sensebox-overview-button }}</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="/images/products/edu_title.png" alt="Generic placeholder image"
                    width="100%" height="auto">
                <h2>senseBox:edu</h2>
                <p>{{content.sensebox-overview-edu}}</p>
                <p><a class="btn btn-secondary" href="/products-edu.html"
                        role="button">{{ content.sensebox-overview-button }}</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="/images/products/mini_title-2.png" alt="Generic placeholder image"
                    width="100%" height="auto">
                <h2>senseBox:mini</h2>
                <p>{{content.sensebox-overview-mini}}</p>
                <p><a class="btn btn-secondary" href="products-mini.html"
                        role="button">{{ content.sensebox-overview-button }}</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
</div>

<div style="background-color: rgb( 58, 176, 232);">
    <div class="container">
        <div class="row row-padding">
            <div class="col-md-6" style="padding: 20px">
                <div class="card"
                    style="width: 100%; padding: 20px; clip-path: polygon(92% 1%, 18% 4%, 0% 7%, 0% 49%, 0% 100%, 25% 98%, 85% 98%, 100% 96%, 100% 89%, 100% 74%, 100% 42%, 100% 0%);">
                    <img class="card-img-top" style="padding: 10px;" src="/images/index/blockly.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><mark style=" background-color: rgb( 58, 176, 232);
                            color: white;">{{ content.blockly-head}}</mark></h5>

                        <p class="card-text">{{ content.blockly-short-text }}</p>
                        <a href="#" class="btn"
                            style="background-color: rgb(51,51,51); color: white;">{{ content.card-button}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card"
                    style="width: 100%; padding: 20px; clip-path: polygon(92% 1%, 18% 4%, 0% 7%, 0% 49%, 0% 100%, 25% 98%, 85% 98%, 100% 96%, 100% 89%, 100% 74%, 100% 42%, 100% 0%);">
                    <img class="card-img-top" style="padding: 10px;" src="/images/index/osem.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><mark
                                style=" background-color: rgb( 58, 176, 232); color: white;">{{ content.opensensemap-head }}</mark>
                        </h5>
                        <p class="card-text">{{ content.opensensemap-short-text }}</p>
                        <a href="#" class="btn"
                            style="background-color: rgb(51,51,51); color: white;">{{ content.card-button}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="container">
    {% assign news = site.data.i18n.[page.lang].news %}
    <h1><mark style="background-color: yellow;">{{content.news-head}}</mark></h1>
    <div class="row row-padding">
        <div class="col-lg-7 mx-auto">
            <ul class="timeline">
                {% for news in news %}
                {% if news.active == true %}
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">{{ news.headline }}</h2><span class="small text-gray"><i
                            class="fa fa-clock-o mr-1"></i>{{ news.date | date: "%d/%m/%Y" }} {{content.news-from}}
                        {{ news.author }}</span>
                    <p class="text-small mt-2 font-weight-light">{{ news.text }}</p>
                </li>
                {% endif %}
                {% endfor %}
            </ul><!-- End -->
        </div>
    </div>
</div>

<div style="background-color: rgb(67, 162, 56);">
    <div class="container">
        <div class="row row-padding">
            <div class="col-md-6">
                <h1><mark style="background-color: rgb(252, 70, 43); color:white">{{content.newsletter-head-1}}</mark>
                </h1>
                <h1><mark style="background-color: rgb(252, 70, 43); color:white">{{ content.newsletter-head-2}}</mark>
                </h1>
                </mark>
            </div>
            <div class="col-md-6">
                <p style="color: white">{{content.newsletter-text}}</p>
            </div>
            <div class="col-lg-12">
                <div style="text-align: center;" id="newsletter">

                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet"
                        type="text/css">
                    <style type="text/css">
                        #mc_embed_signup {
                            /* background: #fff;*/
                            clear: left;
                            font: 14px Helvetica, Arial, sans-serif;
                            width: 100%;
                            font-family: BrixSlab-Regular, Helvetica, sans-serif;
                        }

                        #mc_embed_signup input.email {
                            color: white;
                            font-size: 18px;
                            padding: 10px 20px 10px 20px;
                            border: solid #ddd 2px;
                            text-decoration: none;
                            background: none;
                            margin: 5px;
                            text-align: center;
                            height: 49px;
                        }

                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <form
                            action="https://sensebox.us18.list-manage.com/subscribe/post?u=0d572f7997d4dae2c9e424299&amp;id=46738cd0bd"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">

                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                                    placeholder="{{content.newsletter-placeholder}}" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                        name="b_0d572f7997d4dae2c9e424299_46738cd0bd" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="{{content.newsletter-button}}"
                                        name="subscribe" id="mc-embedded-subscribe" class="btn btn-sensebox-red"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div style="background-color: rgb(238,238,238);">
    <div class="container">
        <br>
        <h1>Partner</h1>
        <div class="row partner">
            <ul>
                {% assign partner = site.data.i18n.[page.lang].network %}
                {% for partner in partner %}

                <li>
                    <a href="{{ partner.link }}" target="_blank">
                        <img src="{{ partner.logo }}" alt="giatschool Logo">
                    </a>
                </li>
                {% if forloop.index == 5%}
                {% break %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="row row-padding">
            <div class="col-md-4 offset-4">
                <a href="/network.html" class="btn btn-success" style="">{{content.partner-see-all}}</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-padding">
        <div class="col-lg-4">
            <img src="/images/awards/BMBF_CMYK_Gef_L.png" class="img-fluid" alt="...">
        </div>
        <div class="col-lg-8">
            <h1>{{content.grant-head}}</h1>
            <p>{{content.grant-text }}</p>
        </div>
    </div>
</div>