<div class="container">
  <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
    <div class="col-12">
      <p>
        Ab November 2021 bieten wir regelmäßig zusammen mit dem
        <a href="https://stadt-muenster.de/schulamt">Amt für Schule und Weiterbildung der Stadt Münster</a>, immer am 4.
        Dienstag im Monat 15:00-17:00 Uhr, ein Meetup im neuen
        <a href="https://smartcity.ms/digitallabor-muenster/">Digitallabor Münster am Leonardo-Campus (Raum 101 im 1.
          OG)</a>
        an. In gemütlicher Runde stellen wir neue Entwicklungen und Materialen
        rund um die senseBox vor und stehen für Fragen und Anregungen zur
        Verfügung. Wir freuen uns gemeinsam neue Einsatzmöglichkeiten der
        senseBox zu erschließen.
      </p>
      <p>
        Ganz egal, ob sie bereits in Ihrer Bildungseinrichtung mit der senseBox
        arbeiten, mehr über die senseBox erfahren möchten oder sich mit den
        Entwickler:innen austauschen möchten, wir freuen uns auf Ihre Teilnahme!
        Für Getränke ist gesorgt.
      </p>
      <p>
        Wir freuen uns, wenn Sie sich über das unten stehende Formular anmelden,
        eine spontane Teilnahme ist aber auch möglich!
      </p>
      <p>
        Bei Rückfragen stehen wir Ihnen unter
        <a href="mailto:info@sensebox.de?subject=senseBox Meetup">info@sensebox.de</a>
        zur Verfügung.
      </p>
      <h3>Termin/Themenübersicht</h3>
      <ul>
        <li>
          <h5>24.05.2022</h5>
          <ul>
            <li>
              die neue senseBox Connect App zum übertragen des Programmcodes per iPad
            </li>
            <li>
              senseBox + phyphox = mobiles Umweltlabor für MINT
            </li>
            <li>
              die neue Blockly Programmierumgebung
            </li>
            <li>
              neue Sensoren für die senseBox
            </li>
            <li>
              senseBox Sprechstunde
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <img src="/images/meetup/meetup.jpg" alt="SenseBox Meetup" class="img-fluid" style="border-radius: 0.5rem;" />
    </div>
  </div>
  <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
    <div class="col-12">
      <h2>Das Digitallabor Münster</h2>
      <p>
        Sie finden das Digitallabor am Leonardo Campus der Fachhochschule
        Münster. Den genauen Standort können Sie der untenstehenden Karte
        entnehmen. Das Meetup findet in Raum 101 im 1. OG statt.
      </p>
      <img src="/images/meetup/osem.jpg" alt="Digitallabor" class="img-fluid" />
    </div>
  </div>
  <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
    <div class="col-12">
      <h2>Anmeldeformular</h2>
      <script type="text/javascript" src="https://form.jotformeu.com/jsform/91814880708364"></script>
    </div>
  </div>
</div>
