{% assign partner = site.data.i18n.[page.lang].network %}

<div class="container">
  <div class="row">

    Hier geht es zur Anmeldung:
    <iframe width="540" height="1000" src="https://e250efa4.sibforms.com/serve/MUIFAIlY-aDL6tO1fgrf0-qoHj_ZrHKhxKvd_T6IJBYMZ8AtwMC2Rf5bi_03B071N9ntoMh5-UUCeoqw5B-mi6NPTM8VSsz2BX-RzxkzFQIBcPhXhhmC43Ruoz0CBGI3-Qi0Tep6wRIvlLdXNuzZB0cu9E7kIl3jjbbr4nyg9HDi_Jhtt894KEtkuY38ocVDGijUzn76FhoA78Id" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>

  </div>
</div>
