{% assign t = site.data.i18n.[page.lang].opensensemap %}

<div class="container">
    <div class="hover-container">
        <img loading="lazy" src="/images/opensensemap/osem_main.png" class="img-fluid" alt="Responsive image">
        <div class="middle">
            <a class="btn btn-sensebox-green" href="https://opensensemap.org/" role="button">{{ t.go-to-opensensemap }}</a>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-lg-12">
            <h1>{{t.head-1}}</h1>
            <p>{{ t.text-1 }}</p>
            <p></p>
        </div>
    
    </div>
    
    
    <div class="row featurette">
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/opensensemap/api.png"
                alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">{{t.head-2}}</h2>
            <p>{{ t.text-2 }}</p>
        </div>
    </div>
    
    <div class="row featurette">
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">{{ t.head-3 }}</h2>
            <p>{{ t.text-3 }}</p>
            <a href="https://docs.opensensemap.org" class="btn btn-success">Zur API Dokumentation</a>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/opensensemap/api.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>