{% assign t = site.data.i18n.[page.lang].pressekit %}

<div class="container">

    <h2>Logos</h2>
    <h3><b>.png</b></h3>
    <div class="row footer-copyright">
      <div class="col-md-6">
        <img loading="lazy" class="margin-20" style="max-height: 80px;" src="/images/pressekit/senseBox_Logo_bunt_schrift_gruen.png" alt="senseBox Logo"></img>
        <br />
        <a class="btn btn-sensebox-green" href="/images/pressekit/senseBox_Logo_bunt_schrift_gruen.png" role="button">Download senseBox Logo</a>
      </div>
      <div class="col-md-6">
        <img loading="lazy" class="margin-20" style="max-height: 80px;" src="/images/pressekit/senseBox_Icon_bunt.png" alt="senseBox Icon"></img>
        <br />
        <a class="btn btn-sensebox-green" href="/images/pressekit/senseBox_Icon_bunt.png" role="button">Download senseBox Icon</a>
      </div>
    </div>
    
    <br>
    
    <h3 style="margin-top: 50px;"><b>.svg</b></h3>
    <div class="row footer-copyright">
      <div class="col-md-6">
        <img loading="lazy" class="margin-20" style="height: 80px; max-height: 80px;" src='{{ site.baseurl | append: "/images/pressekit/senseBox_Logo_bunt_schrift_gruen.svg" }}' alt="senseBox Logo"></img>
        <br />
        <a class="btn btn-sensebox-green" href='{{ site.baseurl | append: "/images/pressekit/senseBox_Logo_bunt_schrift_gruen.svg" }}' role="button">Download senseBox Logo</a>
      </div>
      <div class="col-md-6">
        <img loading="lazy" class="margin-20" style="max-height: 80px;" src='{{ site.baseurl | append: "/images/pressekit/senseBox_Icon_bunt.svg" }}' alt="senseBox Icon"></img>
        <br />
        <a class="btn btn-sensebox-green" href='{{ site.baseurl | append: "/images/pressekit/senseBox_Icon_bunt.svg" }}' role="button">Download senseBox Icon</a>
      </div>
    </div>

    <br>
    
    <h2>Design-Guide</h2>
    <a class="btn btn-sensebox-green" href='{{ site.baseurl | append: "/images/pressekit/senseBox_Design-Guide.pdf" }}' target="_blank" role="button">Download senseBox Design-Guide</a>
</div>

    <br>
