{% assign pressnews = site.press | sort: 'date' | reverse %}
<div class="container">
    {% for post in pressnews %}
    <div class="row">
        {% if post.thumbnail %}
        <div class="col-4">
            {% if post.thumbnail contains "svg" or post.thumbnail contains "http://" or post.thumbnail contains "https://" or post.thumbnail contains "www" %}
                <img class="press-pic" src="{{ site.baseurl | append: post.thumbnail }}" alt="{{ post.title }} - Logo" />
            {% else %}
                {% picture {{ site.baseurl | append: post.thumbnail }}  alt="{{ post.title }} - Logo" class="press-pic" %}
            {% endif %}
        </div>

        <div class="col-8">
            <h2 style="clear:both">{{ post.title }}</h2>
            <div class="content press-text">
                {{ post.content }}
            </div>
        </div>
        {% else %}
        <div class="content press-text">
            {{ post.content }}
        </div>
        {% endif %}
    </div>
    <hr class="featurette-divider">
    {% endfor %}
</div>