{% assign t = site.data.i18n.[page.lang].pressekit %}

<div class="container">

    <h2>Logos</h2>
    <h3><b>PNG</b></h3>
    <div class="row footer-copyright">
      <div class="col-md-6">
        <img class="margin-20" style="max-height: 80px;" src="https://raw.githubusercontent.com/sensebox/resources/master/images/sensebox_logo_neu.png" alt="senseBox Logo neu"></img>
        <br />
        <a class="btn btn-sensebox-green" href="https://raw.githubusercontent.com/sensebox/resources/master/images/sensebox_logo_neu.png" role="button">Download senseBox Logo</a>
      </div>
      <div class="col-md-6">
        <img class="margin-20" style="max-height: 80px;" src="https://raw.githubusercontent.com/sensebox/resources/master/images/sensebox_logo_raute.png" alt="senseBox Logo Raute"></img>
        <br />
        <a class="btn btn-sensebox-green" href="https://raw.githubusercontent.com/sensebox/resources/master/images/sensebox_logo_raute.png" role="button">Download senseBox Raute</a>
      </div>
    </div>
    
    <br>
    
    <h3 style="margin-top: 50px;"><b>SVG</b></h3>
    <div class="row footer-copyright">
      <div class="col-md-6">
        <img class="margin-20" style="height: 80px; max-height: 80px;" src='{{ site.baseurl | append: "/images/pressekit/sensebox_wort_und_logo.svg" }}' alt="senseBox Wort und Logo"></img>
        <br />
        <a class="btn btn-sensebox-green" href='{{ site.baseurl | append: "/images/pressekit/sensebox_wort_und_logo.svg" }}' role="button">Download senseBox Logo</a>
      </div>
      <div class="col-md-6">
        <img class="margin-20" style="max-height: 80px;" src='{{ site.baseurl | append: "/images/pressekit/sensebox_logo.svg" }}' alt="senseBox Logo"></img>
        <br />
        <a class="btn btn-sensebox-green" href='{{ site.baseurl | append: "/images/pressekit/sensebox_logo.svg" }}' role="button">Download senseBox Logo</a>
      </div>
    </div>
    
    <br />
    
    <h2>Name</h2>
    <p>{{ t.spellingNotice }}</p>
    <div class="row" style="text-align: center;">
      <div class="col-md-4 col-sm-4">
        <p>
          ✅ <span>senseBox</span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>
          ❌ <span>sensebox</span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>
          ❌ <span>Sense box</span>
        </p>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col-md-4 col-sm-4">
        <p>
          ❌ <span>SenseBox</span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>
          ❌ <span>Sensebox</span>
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <p>
          ❌ <span>Sense Box</span>
        </p>
      </div>
    </div>
    
    <h2>Farbschema</h2>
    <a class="btn btn-sensebox-green" href='{{ site.baseurl | append: "/images/pressekit/farbkonzept.pdf" }}' target="_blank" role="button">Download senseBox Farbschema</a>
</div>