{% assign content = site.data.i18n.[page.lang].products-edu %}
<div class="container">
    <div class="row row-padding">
        <div class="col-lg-8 align-self-center middle">
            <h2 class="featurette-heading">senseBox:edu</h1>
            <p class="lead">{{content.edu-text}}</p>
            </p>
        </div>
        <div class="col-lg-4 middle">
            <img loading="lazy" class="img-fluid mx-auto" src="/images/products/edu/edu-big.jpg" alt="Generic placeholder image">
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="container">
    <div class="featurette">
        <h1> Neuheiten auf einem Blick </h1>
        <div class="row baseline">
            <div class="col-md-4 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edu/material.jpg"
                    alt="Generic placeholder image">
                    <div>
                        <h2>neue MCU-S2</h2>
                        <p>neuer Mikrocontroller auf ESP-32 Basis. </p>
                    </div>
            </div>
            <div class="col-md-4 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edu/material.jpg"
                    alt="Generic placeholder image">
                    <div>
                        <h2>Integriertes WiFi</h2>
                        <p>WiFi im Board integriert! Nun ist kein WiFi-Bee von Nöten und nun kann sich auch zu eduRoam connected werden </p>
                    </div>
            </div>
            <div class="col-md-4 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edu/material.jpg"
                    alt="Generic placeholder image">
                    <div>
                        <h2>RGB-LED</h2>
                        <p>Eine RGB-LED auf dem Mikrocontroller verbaut ..  </p>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edu/material.jpg"
                    alt="Generic placeholder image">
                    <div>
                        <h2>ToF Imager</h2>
                        <p>neuer Mikrocontroller auf ESP-32 Basis. </p>
                    </div>
            </div>
            <div class="col-md-4 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/LEDMatrix.png"
                    alt="Generic placeholder image">
                    <div>
                        <h2>LED-Matrix</h2>
                        <p>WiFi im Board integriert! Nun ist kein WiFi-Bee von Nöten und nun kann sich auch zu eduRoam connected werden </p>
                    </div>
            </div>
            <div class="col-md-4 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edu/material.jpg"
                    alt="Generic placeholder image">
                    <div>
                        <h2>Anschluss für Akkus</h2>
                        <p>Eine RGB-LED auf dem Mikrocontroller verbaut ..  </p>
                    </div>
            </div>
        </div>

        <!-- <div class="col-md-7 middle">
            <h2 class="featurette-heading">{{content.edu-material-title}}</h2>
            <p class="lead">{{content.edu-material-text}}
            </p>
        </div> -->
    </div>
</div>

<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row row-padding featurette">
            <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edu/content.jpg"
                    alt="Generic placeholder image">
            </div>
            <div class="col-md-7 middle">
                <h2 class="featurette-heading">{{content.edu-content-title}}</h2>
                <p class="lead">{{content.edu-content-text}}</p>
            </div>
        </div>
    </div>
</div>
