{% assign content = site.data.i18n.[page.lang].products-edus2-overview %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" width="500" heigth="500" src="/images/products/edus2/mcus2.png"
                    alt="Generic placeholder image">
        </div>
        <div class="row">
            <div class="col-md-12 middle text-center">
                Die senseBox:edu S2 ist die dritte Generationen unserer senseBox. Die S2 bietet einen erweiterten Hardwareumfang, um noch mehr Vielfalt in Projekten und Experimenten zu ermöglichen. Alles, was du benötigst, ist in einem robusten Kunststoffkoffer mit Schaumstoffeinlage untergebracht, um optimal für den Einsatz in Schulen gerüstet zu sein.             </div>
            <div class="col-md-12 middle text-center row-padding">
                <h3>In der senseBox:edu sind folgende Teile enthalten: </h3>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>senseBox MCU-S2(ESP-32)</li>
                    <li>Bluetooth-Bee</li>
                    <li>Temperatursensor (HDC1080)</li>
                    <li>Beleuchstungsstärke & UV Strahlung(VL53L8CX)</li>
                    <li>Lufttdruck und Temperatursensor(DPS310)</li>
                    <li>Time-of-Flight (Tof) Sensor</li>
                    <li>OLED-Display</li>
                    <li>Mikro-SD Karte</li>
                    <li>Batteriehalterung inklusive Batterie</li>
                    <li>LED-Matrix</li>
                    <li>1m USB-C Kabel</li>
                    <li>Verbindungskabel senseBox:edu S2</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img loading="lazy" class="img-fluid mx-auto" src="/images/products/edus2/edus2-overview.png"
                    alt="Generic placeholder image">
            </div>
            </div>

        </div>
</div>
<hr class="featurette-divider">
<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/mcus2-wifi.gif"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 >Integriertes WiFi                </h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2 >Integriertes SD-Kartenmodul  </h2>
            <p class="lead">Auf der integrierten SD-Karte können die Daten der senseBox MCU S2 gespeichert werden. Diese hochwertige Speicherkarte bietet ausreichend Speicherplatz für die Aufzeichnung und Speicherung von Sensorwerten. </p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/sdmodule.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-padding">
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/RGB-LED.gif"
                alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2>RGB-LED                </h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>

    </div>
</div>



<hr>
<div class="container">
    <div class="row padding ">

        <div class="col-md-7 middle">
            <h2>HDC1080 Temperatursensor</h2>
            <p class="lead">Der HDC1080 ist ein digitaler Feuchtigkeits- und Temperatursensor. Der Sensor hat eine hohe Genauigkeit und eine sehr geringe Stromaufnahme und eignet sich dadurch ideal zur Umweltdatenerhebung mit der senseBox. Der Temperatur- und Luftfeuchtesensor eignet sich besonders für die Untersuchung der Luftqualität in Innenräumen, aber auch zur Erforschung des Außenklimas. Die relative Luftfeuchtigkeit wird in Prozent erfasst und die Temperatur in Grad Celsius. Zum Anschluss an die senseBox wird ein passendes Qwiic-Kabel mitgeliefert.</p>
                
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/HDC1080.png"
                alt="Generic placeholder image">
    </div>
    </div>
</div>

<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/tofimager.png"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2>Time-of-Flight (ToF) Imager</h2>
            <p class="lead">Time-of-Flight (ToF)-Kameras sind in der Lage, hochauflösende Tiefenbilder zu erzeugen. Diese Sensoren senden Infrarotlicht aus und messen die Zeit, die benötigt wird, bis das Licht wieder zurückreflektiert wird. Unser ToF-Sensor ist ein Multizone-Sensor, der die Entfernung nicht nur an einem Punkt, sondern in mehreren Zonen (8x8 Zonen) misst. Laut Hersteller sind Messungen bis zu 400 cm möglich. Die maximale messbare Distanz variiert jedoch je nach aktuellen Lichtverhältnissen (bei mehr Sonnenlicht wird eine geringere Distanz gemessen). Die Framerate kann bis zu 60 Hz betragen.

            </p>
                
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2 >Lichtsensor (LTR329 & VEML6070)  </h2>
            <p class="lead">Mit dem Lichtsensor (LTR329 & VEML6070) können Beleuchtungsstärke und UV-Strahlung präzise mit der mit der senseBox erfasst werden. Dieser Sensor liefert genaue Messwerte für die Umgebungslichtintensität sowie UV-Strahlungslevel, die für eine Vielzahl von Anwendungen in der Umweltüberwachung, Wetterstationen und Indoor-Beleuchtungskontrolle unverzichtbar sind. Die Helligkeit in lux gemessen und die UV-Intensität in μW/cm². Einfach zu integrieren und mit der senseBox kompatibel, ermöglicht dieser Sensor detaillierte Einblicke in die Lichtverhältnisse und die UV-Exposition der Umgebung. Das passende Qwiic-Anschlusskabel für die senseBox MCU S2 wird mitgeliefert.</p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/veml.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>
<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/dps310.png"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2>Luftdruck und Temperatursensor (DPS310)</h2>
            <p class="lead"> Mit dem leistungsstarken DPS310 Sensor können Luftdruck- und Temperaturdaten präzise erfasst werden. Dieser hochwertige Sensor bietet eine hohe Genauigkeit und Zuverlässigkeit und eignet sich ideal für Luftqualitätsmessungen mit der senseBox. Der Messbereich des Luftdrucks liegt bei 300 bis 1200 hPa. Die relative Präzision der Luftdruckmesswerte liegen bei  ±0.06 hP, die absolute Präzision bei ±1 hPa. Die Genauigkeit der Temperaturwerte liegen bei ± 0.5°C. Der durchschnittliche Stromverbrauch der Druckmessung liegt bei 1.7 μA und bei 1.5µA zur Temperaturmessung bei 1Hz Sampling Frequenz. Das passende Qwiic-Kabel zum Anschließen des Sensors wird mitgeliefert.</p>
                
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2>LED-Matrix  </h2>
            <p class="lead">Mit der LED-Matrix WS2812 des Herstellers Adafruit mit 12 x 8 Pixel können eigene bunte Displays mit Neopixel mit der senseBox programmiert werden. So können LEDs nach eigenen Vorstellungen zum Leuchten gebracht und z.B. Schriftzüge oder Motive in verschiedenen Farben angezeigt werden, die für leuchtende Augen bei Groß und Klein sorgen. </p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/LED-Matrix.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>



<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/oleddisplay.png"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2>OLED-Display</h2>
            <p class="lead">Das hochauflösende OLED-Display bietet klare und deutliche Anzeigen für Sensorwerte, Statusinformationen und vieles mehr. Das OLED-Display zeigt Informationen als Text, Zahlen und Diagramme an. Somit wird eine Live-Anzeige der Messwerte möglich. Mit seiner kompakten Größe und einfachen Integration ist das OLED-Display ideal für Anwendungen mit der senseBox, bei denen eine visuelle Ausgabe erforderlich ist. Das Display hat eine Auflösung von 128 x 64 Pixel. Ein passendes Qwiic-Kabel zum Anschluss des Displays an die senseBox MCU S2 wird mitgeliefert.</p>
                
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2>Bluetooth Bee</h2>
            <p class="lead">Mit dem Bluetooth-Bee (oder BLE-Bee) kann der senseBox-Mikrocontroller um die Bluetooth-Funktionalität bzw. BLE (Bluetooth Low Energy) erweitert werden und macht die senseBox MCU S2 zu einem mobilen Umweltlabor. Da das Bluetooth-Modul kompatibel mit der Phyphox-App ist, können die Sensorwerte drahtlos an mobile Endgeräte wie Smartphones oder Tablets übertragen und direkt professionell visualisiert werden. Das Bluetooth Bee verwendet den uBlox B312, dessen Basis ein nRF52840 von Nordic Semiconductors ist. Das Bluetooth Bee ist kompatibel zu Bluetooth 5.0.</p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/BLE-Bee_v1_top.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>
