{% assign content = site.data.i18n.[page.lang].products-parts %}

<!-- Bees -->
<div style="background-color: white;">
  <div class="container">
    <div class="col-md-12">
      <h2 class="featurette-heading">{{content.parts-bees-title}}</h2>
      <p class="lead">{{content.parts-bees-text}}</p>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <figure>
              <img loading="lazy" src="/images/products/parts/bees-WiFi.png" class="img-fluid" alt="img01">
              <figcaption>
                <h3>{{content.parts-bees-WiFi}}</h3>
                <p>{{content.parts-bees-WiFi-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-bees-WiFi-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6">
            <figure>
              <img loading="lazy" src="/images/products/parts/bees-SD.png" class="img-fluid" alt="img02">
              <figcaption>
                <h3>{{content.parts-bees-SD}}</h3>
                <p>{{content.parts-bees-SD-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-bees-SD-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6">
            <figure>
              <img loading="lazy" src="/images/products/parts/bees-LAN.png" class="img-fluid" alt="img03">
              <figcaption>
                <h3>{{content.parts-bees-LAN}}</h3>
                <p>{{content.parts-bees-LAN-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-bees-LAN-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6">
            <figure>
              <img loading="lazy" src="/images/products/parts/bees-LoRa.png" class="img-fluid" alt="img04">
              <figcaption>
                <h3>{{content.parts-bees-LoRa}}</h3>
                <p>{{content.parts-bees-LoRa-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-bees-LoRa-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6">
            <figure>
              <img loading="lazy" src="/images/products/parts/bees-ble.png" class="img-fluid" alt="img01">
              <figcaption>
                <h3>{{content.parts-bees-ble}}</h3>
                <p>{{content.parts-bees-ble-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-bees-ble-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>