{% assign content = site.data.i18n.[page.lang].products-edu %}
<div class="container">
    <div class="row row-padding">
        <div class="col-lg-8 align-self-center middle">
            <h2 class="featurette-heading">senseBox:edu</h1>
            <p class="lead">{{content.edu-text}}</p>
            </p>
        </div>
        <div class="col-lg-4 middle">
            <img loading="lazy" class="img-fluid mx-auto" src="/images/products/edu/edu-big.jpg" alt="Generic placeholder image">
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edu/material.jpg"
                alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">{{content.edu-material-title}}</h2>
            <p class="lead">{{content.edu-material-text}}
            </p>
        </div>
    </div>
</div>

<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row row-padding featurette">
            <div class="col-md-7 middle">
                <h2 class="featurette-heading">{{content.edu-programming-title}}
                </h2>
                <p class="lead">{{content.edu-programming-text}}
                </p>
            </div>
            <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edu/programming.jpg"
                    alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edu/content.jpg"
                alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">{{content.edu-content-title}}</h2>
            <p class="lead">{{content.edu-content-text}}</p>
        </div>
    </div>
</div>