{% assign content = site.data.i18n.[page.lang].products-data-sheets %}

<div class="container">
  <div class="row">
    <div class="col-lg-10 my-4 mx-auto">
      <!-- Boards Table -->
      <h3 class="text-center">Boards</h3>
      <div class="table-responsive table-product-comparison">
        <table class="table table-striped table-hover comparisonTable">
          <thead class="thead-inverse">
            <tr>
              <th class="w-25">{{content.component}}</th>
              <th class="text-center">{{content.data_sheet}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="w-25 option">{{ content.mcu }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_MCU.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.mcu_mini }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_MCU_mini.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Sensoren und Hardware Table -->
      <h3 class="text-center mt-4">{{content.sensors_and_hardware}}</h3>
      <div class="table-responsive table-product-comparison">
        <table class="table table-striped table-hover comparisonTable">
          <thead class="thead-inverse">
            <tr>
              <th class="w-25">{{content.component}}</th>
              <th class="text-center">{{content.data_sheet}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="w-25 option">{{ content.wifi_bee }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_WiFi_Bee.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.dps310 }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-DPS310.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.watertemp }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_Wasserthermometer.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.lightsensor }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-Lichtsensor.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.oled }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_OLED.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{content.ble_bee }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_BLE_Bee.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{content.sd_bee }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_SD_Bee.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{content.sds011_with}}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_Feinstaubset_SDS011.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{content.gps}}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_GPS.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{content.sds011_without}}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_SDS011_ohne.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{content.i2c_expander}}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_I2C_Expander.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{content.i2c_multiplex}}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_I2C_Multiplex.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.led_matrix }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_LED_Matrix.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.tof }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_ToF.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.rgbled }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_RGB_LED.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.soundlevel }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_Schallpegel_Prototyp.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.rtcclock }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_RTC.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Zubehör Table -->
      <h3 class="text-center mt-4">{{content.accessoire}}</h3>
      <div class="table-responsive table-product-comparison">
        <table class="table table-striped table-hover comparisonTable">
          <thead class="thead-inverse">
            <tr>
              <th class="w-25">{{content.component}}</th>
              <th class="text-center">{{content.data_sheet}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="w-25 option">{{ content.battery_holder }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_Batteriehalterung.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.outdoor_case }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_Outdoor_Gehaeuse.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.phr_4 }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_Kabel_PHR4.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.sds_cable }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_SDS011_Anschlusskabel.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.weather_case }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_Wetterhuette.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.indoor_case }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_Indoor_Gehäuse.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.lora_antenna }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_LoRa_Bee_868_Drahtantenne.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.lora_868 }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_LoRa_Bee_868_uFl.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.tempcase }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_Strahlenschutz.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
            <tr>
              <td class="w-25 option">{{ content.sensor_holder }}</td>
              <td class="text-center">
                <a
                  class="btn btn-sensebox-green"
                  href="../../non_img_assets/datenblaetter/pdf_output/Datenblatt-senseBox_Sensorhalterung.pdf"
                  target="_blank"
                >
                  <i class="fa fa-download text-white"></i> Download
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
