{% assign content = site.data.i18n.[page.lang].products-edus2-overview %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" width="500" heigth="500" src="/images/products/edus2/mcus2.png"
                    alt="Generic placeholder image">
        </div>
        <div class="row">
            <div class="col-md-12 middle text-center">
                {{content.intro_text}}
             </div>
            <div class="col-md-12 middle text-center row-padding">
                <h3>{{content.whats_in_the_box}} </h3>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>{{content.list_1}}</li>
                    <li>{{content.list_2}}</li>
                    <li>{{content.list_3}}</li>
                    <li>{{content.list_4}}</li>
                    <li>{{content.list_5}}</li>
                    <li>{{content.list_6}}</li>
                    <li>{{content.list_7}}</li>
                    <li>{{content.list_8}}</li>
                    <li>{{content.list_9}}</li>
                    <li>{{content.list_10}}</li>
                    <li>{{content.list_11}}</li>
                    <li>{{content.list_12}}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img loading="lazy" class="img-fluid mx-auto" src="/images/products/edus2/edus2-overview.png"
                    alt="Generic placeholder image">
            </div>
            </div>

        </div>
</div>
<hr class="featurette-divider">
<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/mcus2-wifi.gif"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2> {{content.wifi}}                </h2>
            <p class="lead">{{content.wifi_text}} </p>
                
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2 >{{content.sd_module}}  </h2>
            <p class="lead">{{content.sd_module_text}} </p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/sdmodule.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-padding">
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/RGB-LED.gif"
                alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2> {{content.rgb_led}}               </h2>
            <p class="lead">{{content.rgb_led_text}} </p>
        </div>

    </div>
</div>



<hr>
<div class="container">
    <div class="row padding ">
        <div class="col-md-7 middle">
            <h2>{{content.hdc1080}} </h2>
            <p class="lead">{{content.hdc1080_text}} </p>
                
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/HDC1080.png"
                alt="Generic placeholder image">
    </div>
    </div>
</div>

<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/tofimager.png"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2>{{content.tofimager}} </h2>
            <p class="lead">{{content.tofimager_text}}

            </p>
                
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2 >{{content.light}}  </h2>
            <p class="lead">{{content.light_text}} </p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/veml.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>
<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/dps310.png"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2>{{content.pressure}} </h2>
            <p class="lead">{{content.pressure_text}} </p>
                
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2>{{content.led_matrix}}  </h2>
            <p class="lead">{{content.led_matrix_text}} </p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/LED-Matrix.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>



<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/oleddisplay.png"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2>{{content.oled}} </h2>
            <p class="lead">{{content.oled_text}} </p>
                
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2>{{content.bluetooth}} </h2>
            <p class="lead">{{content.bluetooth_text}} </p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/BLE-Bee_v1_top.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>
