<div class="row">
    <div class="col-lg-12">
        <h1>senseBox:edu</h1>
        <p>Die senseBox:eud ist unser mehrfach ausgezeichnetes Experimentierset, welches die Informatische Grundbildung
            mit Fragestellungen der Umwelt- und der Bildung für Nachhaltige Entwicklung verknüpft. Sie bietet den
            größten Hardwareumfang aller senseBoxen und kommt in Form der praktischen Klassenkiste an über 200 Schulen
            und Universitäten weltweit zum Einsatz.
            Lehrende und Lernende können auf eine umfangreiche Materialsammlung zurückgreifen und so Fragestellungen aus
            dem gesamten MINT-Bereich bearbeiten, Die speziell entwickelte grafische Programmieroberfläche bietet einen
            kinderleichten Einstieg, sodass auch ohne Vorkenntnisse im Bereich der Informatik und Programmierung direkt
            losgelegt werden kann.
        </p>
    </div>
</div>


<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/images/opensensemap/api.png"
            alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Analysieren</h2>
        <p class="lead">Anayliseren deine Daten auf der openSenseMap. </p>
        <a href="https://docs.opensensemap.org" class="btn btn-success">Zur API Dokumentation</a>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">API</h2>
        <p class="lead">Mit unserer offenen API lassen sich sämtliche Sensordaten für andere Anwedungen weiterverwenden.
            Außerdem können
            Sensordaten von alternativen Quellen in die openSenseMap eingebunden werden.</p>
        <a href="https://docs.opensensemap.org" class="btn btn-success">Zur API Dokumentation</a>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/images/opensensemap/api.png"
            alt="Generic placeholder image">
    </div>
</div>