{% assign content = site.data.i18n.[page.lang].products-parts %}
<div class="paperlike">

  <div class="container">
    <div class="row row-padding">
      <div class="col-lg-8">
        <h1>{{content.parts-title}}</h1>
        <p class="lead">{{content.parts-text}}</p>

      </div>
      <div class="col-lg-4">
        {% picture /images/products/parts/sensors-title.png class="img-fluid mx-auto" %}
        <!-- <img class="img-fluid mx-auto" src="/images/products/parts/sensors-title.png"> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-padding featurette">
    <div class="col-md-5">
      {% picture /images/products/parts/MCU-orange.png class="featurette-image img-fluid mx-auto"
      alt="Generic placeholder image" %}
      <!-- <img class="featurette-image img-fluid mx-auto" src="/images/products/parts/MCU-orange.png"
        alt="Generic placeholder image"> -->
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">{{content.parts-MCU-title}}</h2>
      <p class="lead">{{content.parts-MCU-text}}</p>
      <div class="row">
        <div class="col-md-6">
          <p class="lead">{{content.parts-MCU-conntectors}}</p>
          <ul>
            {{content.parts-MCU-conntectors-list}}
        </div>
        <div class="col-md-6">
          <p class="lead">{{content.parts-MCU-onboard}}</p>
          <ul>
            {{content.parts-MCU-onboard-list}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sensors -->
<div style="background-color: whitesmoke;">
  <div class="container">
    <div class="col-md-12">
      <h2 class="featurette-heading">{{content.parts-sensors-title}}</h2>
      <p class="lead">{{content.parts-sensors-text}}</p>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <figure>
              <!-- <img src="/images/products/parts/sensors-bmp.png" class="img-fluid" alt="img01"> -->
              {% picture /images/products/parts/sensors-bmp.png class="img-fluid" alt="img01" %}
              <figcaption>
                <h3>{{content.parts-sensors-pressure}}</h3>
                <p>{{content.parts-sensors-pressure-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-pressure-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/sensors-hds.png class="img-fluid" alt="img02" %}
              <!-- <img src="/images/products/parts/sensors-hds.png" class="img-fluid" alt="img02"> -->
              <figcaption>
                <h3>{{content.parts-sensors-temperature}}</h3>
                <p>{{content.parts-sensors-temperature-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-temperature-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/sensors-light.png class="img-fluid" alt="img03" %}
              <!-- <img src="/images/products/parts/sensors-light.png" class="img-fluid" alt="img03"> -->
              <figcaption>
                <h3>{{content.parts-sensors-light}}</h3>
                <p>{{content.parts-sensors-light-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-light-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/sensors-bme.png class="img-fluid" alt="img04" %}
              <!-- <img src="/images/products/parts/sensors-bme.png" class="img-fluid" alt="img04"> -->
              <figcaption>
                <h3>{{content.parts-sensors-BME}}</h3>
                <p>{{content.parts-sensors-BME-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-BME-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/sensors-gps.png class="img-fluid" alt="img05" %}
              <!-- <img src="/images/products/parts/sensors-gps.png" class="img-fluid" alt="img05"> -->
              <figcaption>
                <h3>{{content.parts-sensors-GPS}}</h3>
                <p>{{content.parts-sensors-GPS-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-GPS-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/sensors-pm.png class="img-fluid" alt="img06" %}
              <!-- <img src="/images/products/parts/sensors-pm.png" class="img-fluid" alt="img06"> -->
              <figcaption>
                <h3>{{content.parts-sensors-PM}}</h3>
                <p>{{content.parts-sensors-PM-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-PM-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/sensors-smt.png class="img-fluid" alt="img07" %}
              <!-- <img src="/images/products/parts/sensors-smt.png" class="img-fluid" alt="img04"> -->
              <figcaption>
                <h3>{{content.parts-sensors-SMT}}</h3>
                <p>{{content.parts-sensors-SMT-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-SMT-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/sensors-wind.png class="img-fluid" alt="img08" %}
              <!-- <img src="/images/products/parts/sensors-wind.png" class="img-fluid" alt="img05"> -->
              <figcaption>
                <h3>{{content.parts-sensors-Wind}}</h3>
                <p>{{content.parts-sensors-Wind-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-Wind-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/sensors-sound.png class="img-fluid" alt="img09" %}
              <!-- <img src="/images/products/parts/sensors-sound.png" class="img-fluid" alt="img06"> -->
              <figcaption>
                <h3>{{content.parts-sensors-sound}}</h3>
                <p>{{content.parts-sensors-sound-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-sound-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bees -->
<div style="background-color: white;">
  <div class="container">
    <div class="col-md-12">
      <h2 class="featurette-heading">{{content.parts-bees-title}}</h2>
      <p class="lead">{{content.parts-bees-text}}</p>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <figure>
              {% picture /images/products/parts/bees-WiFi.png class="img-fluid" alt="img10" %}
              <!-- <img src="/images/products/parts/bees-WiFi.png" class="img-fluid" alt="img01"> -->
              <figcaption>
                <h3>{{content.parts-bees-WiFi}}</h3>
                <p>{{content.parts-bees-WiFi-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-bees-WiFi-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6">
            <figure>
              {% picture /images/products/parts/bees-SD.png class="img-fluid" alt="img11" %}
              <!-- <img src="/images/products/parts/bees-SD.png" class="img-fluid" alt="img02"> -->
              <figcaption>
                <h3>{{content.parts-bees-SD}}</h3>
                <p>{{content.parts-bees-SD-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-bees-SD-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6">
            <figure>
              {% picture /images/products/parts/bees-LAN.png class="img-fluid" alt="img12" %}
              <!-- <img src="/images/products/parts/bees-LAN.png" class="img-fluid" alt="img03"> -->
              <figcaption>
                <h3>{{content.parts-bees-LAN}}</h3>
                <p>{{content.parts-bees-LAN-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-bees-LAN-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6">
            <figure>
              <!-- {% picture /images/products/parts/bees-LoRa.png class="img-fluid" alt="img13" %} -->
              <!-- <img src="/images/products/parts/bees-LoRa.png" class="img-fluid" alt="img04"> -->
              <figcaption>
                <h3>{{content.parts-bees-LoRa}}</h3>
                <p>{{content.parts-bees-LoRa-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-bees-LoRa-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Accessoires -->
<div style="background-color: whitesmoke;">
  <div class="container">
    <div class="col-md-12">
      <h2 class="featurette-heading">{{content.parts-accessories-title}}</h2>
      <p class="lead">{{content.parts-accessories-text}}</p>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/accessories-display.png class="img-fluid" alt="img14" %}
              <!-- <img src="/images/products/parts/accessories-display.png" class="img-fluid" alt="img01"> -->
              <figcaption>
                <h3>{{content.parts-accessories-display}}</h3>
                <p>{{content.parts-accessories-display-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-accessories-display-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/accessories-hub.png class="img-fluid" alt="img15" %}
              <!-- <img src="/images/products/parts/accessories-hub.png" class="img-fluid" alt="img02"> -->
              <figcaption>
                <h3>{{content.parts-accessories-expander}}</h3>
                <p>{{content.parts-accessories-expander-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-accessories-expander-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/accesories-multiplexer.png class="img-fluid" alt="img16" %}
              <!-- <img src="/images/products/parts/accesories-multiplexer.png" class="img-fluid" alt="img03"> -->
              <figcaption>
                <h3>{{content.parts-accessories-multiplexer}}</h3>
                <p>{{content.parts-accessories-multiplexer-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-accessories-multiplexer-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/accessories-solar.png class="img-fluid" alt="img17" %}
              <!-- <img src="/images/products/parts/accessories-solar.png" class="img-fluid" alt="img04"> -->
              <figcaption>
                <h3>{{content.parts-accessories-solar}}</h3>
                <p>{{content.parts-accessories-solar-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-accessories-solar-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              {% picture /images/products/parts/accessories-housing.png class="img-fluid" alt="img18" %}
              <!-- <img src="/images/products/parts/accessories-housing.png" class="img-fluid" alt="img05"> -->
              <figcaption>
                <h3>{{content.parts-accessories-housing}}</h3>
                <p>{{content.parts-accessories-housing-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-accessories-housing-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>