{% assign content = site.data.i18n.[page.lang].products-mini %}
<div class="container">
    <div class="row row-padding">
        <div class="col-lg-8">
            <h1>senseBox:mini</h1>
            <p class="lead">{{content.mini-text}}</p>
            <br>
            <p class="lead">{{content.mini-list-title}}

            <ul>
                {{content.mini-list}}
            </ul>
            </p>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid mx-auto" src="/images/products/edu/edu-big.jpg" alt="Generic placeholder image">
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="row row-padding featurette">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="/images/products/edu/material.jpg"
                    alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">{{content.mini-programming-title}}</h2>
                <p class="lead">{{content.mini-programming-text}}
                </p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row row-padding featurette" style="background-color: whitesmoke;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{content.mini-projects-title}}
                </h2>
                <p class="lead">{{content.mini-projects-text}}
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="/images/products/edu/programming.jpg"
                    alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>
</div>


<div class="row row-padding featurette">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="/images/products/edu/content.jpg"
                    alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">{{content.mini-content-title}}</h2>
                <p class="lead">{{content.mini-content-text}}</p>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item phenomenon-icon"><img class="phenomenon-icon-img"
                            src="/images/products/home/phenomenons/temperature.svg">{{content.phenomenon-temperature}}
                    </li>
                    <li class="list-group-item phenomenon-icon"><img class="phenomenon-icon-img"
                            src="/images/products/home/phenomenons/humidity.svg">{{content.phenomenon-humidity}}
                    </li>
                    <li class="list-group-item phenomenon-icon"><img class="phenomenon-icon-img"
                            src="/images/products/home/phenomenons/pressure.svg">{{content.phenomenon-pressure}}
                    </li>
                    <li class="list-group-item phenomenon-icon"><img class="phenomenon-icon-img"
                            src="/images/products/home/phenomenons/IAQ.svg">{{content.phenomenon-IAQ}}
                    </li>
            </div>
        </div>
    </div>
</div>