{% assign content = site.data.i18n.[page.lang].products-parts %}
<div class="paperlike">

  <div class="container">
    <div class="row row-padding">
      <div class="col-lg-8 middle">
        <h1>{{content.parts-title}}</h1>
        <p class="lead">{{content.parts-text}}</p>
        <p class="lead">{{content.parts-shop-text}} <a href="{{content.parts-shop-link}}"> {{ content.parts-onlineshop }}</a></p>
      </div>
      <div class="col-lg-4 middle">
        <img loading="lazy" class="img-fluid mx-auto" src="/images/products/parts/sensors-title.png">
      </div>
    </div>
  </div>
</div>

<!-- Accessoires -->
<div>
  <div class="container">
    <div class="col-md-12">
      <h2 class="featurette-heading">{{content.parts-accessories-title}}</h2>
      <p class="lead">{{content.parts-accessories-text}}</p>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/accessories-display.png" class="img-fluid" alt="img01">
              <figcaption>
                <h3>{{content.parts-accessories-display}}</h3>
                <p>{{content.parts-accessories-display-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-accessories-display-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/accessories-hub.png" class="img-fluid" alt="img02">
              <figcaption>
                <h3>{{content.parts-accessories-expander}}</h3>
                <p>{{content.parts-accessories-expander-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-accessories-expander-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/accesories-multiplexer.png" class="img-fluid" alt="img03">
              <figcaption>
                <h3>{{content.parts-accessories-multiplexer}}</h3>
                <p>{{content.parts-accessories-multiplexer-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-accessories-multiplexer-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/accessoires-solar-set.png" class="img-fluid" alt="img04">
              <figcaption>
                <h3>{{content.parts-accessories-solar}}</h3>
                <p>{{content.parts-accessories-solar-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-accessories-solar-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/accessories-housing.png" class="img-fluid" alt="img05">
              <figcaption>
                <h3>{{content.parts-accessories-housing}}</h3>
                <p>{{content.parts-accessories-housing-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-accessories-housing-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/accessoire-rtc.png" class="img-fluid" alt="img05">
              <figcaption>
                <h3>{{content.parts-accessories-rtc}}</h3>
                <p>{{content.parts-accessories-housing-rtc-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-accessories-rtc-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/accessoire-rgb.png" class="img-fluid" alt="img05">
              <figcaption>
                <h3>{{content.parts-accessories-rgb}}</h3>
                <p>{{content.parts-accessories-rgb-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-accessories-rgb-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/accessoire-one-wire.png" class="img-fluid" alt="img05">
              <figcaption>
                <h3>{{content.parts-accessories-one-wire}}</h3>
                <p>{{content.parts-accessories-one-wire-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-accessories-one-wire-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/accessoire-led-matrix.png" class="img-fluid" alt="img05">
              <figcaption>
                <h3>{{content.parts-accessories-led-matrix}}</h3>
                <p>{{content.parts-accessories-led-matrix-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-accessories-led-matrix-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/accessoire-battery-holder.png" class="img-fluid" alt="img05">
              <figcaption>
                <h3>{{content.parts-accessories-battery-holder}}</h3>
                <p>{{content.parts-accessories-battery-holder-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-accessories-battery-holder-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>