{% assign content = site.data.i18n.[page.lang].products %}
<div class="container">

    <div class="row row-padding featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">senseBox:edu</h2>
            <p class="lead">{{content.sensebox-edu-text}}
            </p>
            <p><a class="btn btn-sensebox-red" href="{{page.baseurl}}/{{page.lang}}/products-edu.html"
                    role="button">{{ content.sensebox-overview-button }}</a></p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/images/products/edu-2.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>


<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row row-padding featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">senseBox:home</h2>
                <p class="lead">{{content.sensebox-home-text}}
                </p>
                <p><a class="btn btn-sensebox-blue" href="{{page.baseurl}}/{{page.lang}}/products-home.html"
                        role="button">{{ content.sensebox-overview-button }}</a></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="/images/products/home-2.png"
                    alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">senseBox:mini</h2>
            <p class="lead">{{content.sensebox-mini-text}}</p>
            <p><a class="btn btn-sensebox-green" href="{{page.baseurl}}/{{page.lang}}/products-mini.html"
                    role="button">{{ content.sensebox-overview-button }}</a></p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/images/products/mini.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>



<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row row-padding featurette">
            <div class="col-lg-12">
                <h1 style="text-align: center;">{{content.which-sensebox}}</h1>
            </div>
            <div class="col-lg-12">
                <h2 style="text-align: center;">{{content.i-want}}</h2>
            </div>


            <div class="col-md-4">
                <div class="card polygon-1" style="width: auto;">
                    <img src="/images/products/home_title.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">senseBox:home</h5>
                        <p class="card-text">
                        <ul>
                            {{content.home-list}}
                        </ul>
                        </p>
                        <a href="{{page.baseurl}}/{{page.lang}}/products-home.html"
                            class="btn btn-sensebox-blue">{{content.button}}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card polygon-1" style="width: auto;">
                    <img src="/images/products/mini_title-2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">senseBox:mini</h5>
                        <p class="card-text">
                        <ul>
                            {{content.mini-list}}
                        </ul>
                        </p>
                        <a href="{{page.baseurl}}/{{page.lang}}/products-mini.html"
                            class="btn btn-sensebox-green">{{content.button}}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card polygon-1" style="width: auto;">
                    <img src="/images/products/edu_title.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">senseBox:edu</h5>
                        <p class="card-text">
                        <ul>
                            {{content.edu-list}}
                        </ul>
                        </p>
                        <a href="{{page.baseurl}}/{{page.lang}}/products-edu.html"
                            class="btn btn-sensebox-red">{{content.button}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /END THE FEATURETTES -->

</div><!-- /.container -->