{% assign content = site.data.i18n.[page.lang].products-edus2-overview %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" width="500" heigth="500" src="/images/products/edus2/mcus2.png"
                    alt="Generic placeholder image">
        </div>
        <div class="row">
            <div class="col-md-12 middle text-center">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
            <div class="col-md-12 middle text-center row-padding">
                <h3>In der senseBox:edu sind folgende Teile enthalten: </h3>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>senseBox MCU-S2(ESP-32)</li>
                    <li>Bluetooth-Bee</li>
                    <li>Temperatursensor (HDC1080)</li>
                    <li>Beleuchstungsstärke & UV Strahlung(VL53L8CX)</li>
                    <li>Lufttdruck und Temperatursensor(DPS310)</li>
                    <li>Time-of-Flight (Tof) Sensor</li>
                    <li>OLED-Display</li>
                    <li>Mikro-SD Karte</li>
                    <li>Batteriehalterung inklusive Batterie</li>
                    <li>LED-Matrix</li>
                    <li>1m USB-C Kabel</li>
                    <li>Verbindungskabel senseBox:edu S2</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img loading="lazy" class="img-fluid mx-auto" src="/images/products/edus2/edus2-overview.png"
                    alt="Generic placeholder image">
            </div>
            </div>

        </div>
</div>
<hr class="featurette-divider">
<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/mcus2-wifi.gif"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">Integriertes WiFi                </h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">Integriertes SD-Kartenmodul  </h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/LED-Matrix.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-padding">
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/RGB-LED.gif"
                alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">RGB-LED                </h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>

    </div>
</div>



<hr>
<div class="container">
    <div class="row padding ">

        <div class="col-md-7 middle">
            <h2 class="featurette-heading">HDC1080 Temperatursensor</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/HDC1080.png"
                alt="Generic placeholder image">
    </div>
    </div>
</div>

<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/tof-zoom.gif"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">Time-of-Flight (ToF) Imager</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">Lichtsensor VEML + LTR  </h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/VL53L8CX.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>
<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/HDC1080.png"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">DPS310</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">LED-Matrix  </h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/LED-Matrix.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>



<div class="container">
    <div class="row padding ">
        <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/oleddisplay.png"
                    alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">OLED-Display</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-padding">
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">Bluetooth Bee</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/edus2/mcus2.png"
                alt="Generic placeholder image">
        </div>
    </div>
</div>