{% assign content = site.data.i18n.[page.lang].products-mini %}
<div class="container">
    <div class="row row-padding">
        <div class="col-lg-8 middle">
            <h2 class="featurette-heading">senseBox:mini</h1>
            <p class="lead">{{content.mini-text}}</p>
            <br>
            <p class="lead">{{content.mini-list-title}}

            <ul>
                {{content.mini-list}}
            </ul>
            </p>
        </div>
        <div class="col-lg-4 middle">
            <img class="img-fluid mx-auto" src="/images/products/mini/mini-die-mini.jpg" alt="Generic placeholder image">
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-5 middle">
            <img class="featurette-image img-fluid mx-auto" src="/images/products/mini/mini-kinderleicht.jpg"
                alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">{{content.mini-programming-title}}</h2>
            <p class="lead">{{content.mini-programming-text}}
            </p>
        </div>
    </div>
</div>

<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row row-padding featurette">
            <div class="col-md-7 middle">
                <h2 class="featurette-heading">{{content.mini-projects-title}}
                </h2>
                <p class="lead">{{content.mini-projects-text}}
                </p>
            </div>
            <div class="col-md-5 middle">
                <img class="featurette-image img-fluid mx-auto" src="/images/products/mini/mini-projekte.jpg"
                    alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-5 middle">
            <img class="featurette-image img-fluid mx-auto" src="/images/products/mini/mini-inhalt.jpg"
                alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">{{content.mini-content-title}}</h2>
            <p class="lead">{{content.mini-content-text}}</p>
        </div>
        <div class="phenos">
            <div class="sb-pheno sb-small-pheno">
                <div class="icon"
                    ><span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x" style="color: whitesmoke"></i>
                        <i class="fas fa-temperature-high fa-stack-1x fa-inverse" style="color:#3fbdeb;"></i>
                    </span>
                </div>
                {{content.phenomenon-temperature}}
            </div>
            <div class="sb-pheno sb-small-pheno">
                <div class="icon">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x" style="color: whitesmoke"></i>
                        <i class="fas fa-percent fa-stack-1x fa-inverse" style="color:#3fbdeb;"></i>
                    </span>
                </div>
                {{content.phenomenon-humidity}}
            </div>
            <div class="sb-pheno sb-small-pheno">
                <div class="icon">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x" style="color: whitesmoke"></i>
                        <i class="fas fa-tachometer-alt fa-stack-1x fa-inverse" style="color:#3fbdeb;"></i>
                    </span>
                    {{content.phenomenon-pressure}}
                </div>
            </div>
            <div class="sb-pheno sb-small-pheno">
                <div class="icon">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x" style="color: whitesmoke"></i>
                        <i class="fas fa-cloud fa-stack-1x fa-inverse" style="color:#3fbdeb;"></i>
                    </span>
                    {{content.phenomenon-IAQ}}
                </div>
            </div>
        </div>
    </div>
</div>