{% assign content = site.data.i18n.[page.lang].products-software %}

<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">Blockly für senseBox</h2>
            <p class="lead">{{content.blockly-text}}
            </p>
            <p><a class="btn btn-sensebox-green" href="{{page.baseurl}}/{{page.lang}}/blockly.html" role="button">{{
                    content.sensebox-overview-button }}</a></p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/blockly/blockly_overview.jpeg"
                alt="Blockly für senseBox">
        </div>
    </div>
</div>

<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row row-padding featurette">
            <div class="col-md-7 order-md-2 middle">
                <h2 class="featurette-heading">openSenseMap</h2>
                <p class="lead">{{content.opensensemap-text}}
                </p>
                <p><a class="btn btn-sensebox-blue" href="{{ page.baseurl }}/{{ page.lang }}/opensensemap.html"
                        role="button">{{ content.sensebox-overview-button }}</a></p>
            </div>
            <div class="col-md-5 order-md-1 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/opensensemap/osem_main.png"
                    alt="openSenseMap">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">senseBox Connect App</h2>
            <p class="lead">{{content.connectapp-text}}</p>
            <p><a class="btn btn-sensebox-red" href="{{page.baseurl}}/{{page.lang}}/app.html"
                    role="button">{{ content.sensebox-overview-button }}</a></p>
        </div>
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/app/connect-app-transfer-screen.png"
                alt="senseBox Connect App">
        </div>
    </div>
</div>

