{% assign content = site.data.i18n.[page.lang].products-parts %}
<div class="paperlike">

<!-- Sensors -->
<div style="background-color: whitesmoke;">
  <div class="container">
    <div class="col-md-12">
      <h2 class="featurette-heading">{{content.parts-sensors-title}}</h2>
      <p class="lead">{{content.parts-sensors-text}}</p>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/sensors-bmp.png" class="img-fluid" alt="img01">
              <figcaption>
                <h3>{{content.parts-sensors-pressure}}</h3>
                <p>{{content.parts-sensors-pressure-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-sensors-pressure-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/sensors-hds.png" class="img-fluid" alt="img02">
              <figcaption>
                <h3>{{content.parts-sensors-temperature}}</h3>
                <p>{{content.parts-sensors-temperature-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-sensors-temperature-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/sensors-light.png" class="img-fluid" alt="img03">
              <figcaption>
                <h3>{{content.parts-sensors-light}}</h3>
                <p>{{content.parts-sensors-light-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-sensors-light-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/sensors-bme.png" class="img-fluid" alt="img04">
              <figcaption>
                <h3>{{content.parts-sensors-BME}}</h3>
                <p>{{content.parts-sensors-BME-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-BME-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/sensors-gps.png" class="img-fluid" alt="img05">
              <figcaption>
                <h3>{{content.parts-sensors-GPS}}</h3>
                <p>{{content.parts-sensors-GPS-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-GPS-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/sensors-pm.png" class="img-fluid" alt="img06">
              <figcaption>
                <h3>{{content.parts-sensors-PM}}</h3>
                <p>{{content.parts-sensors-PM-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-PM-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/sensors-smt.png" class="img-fluid" alt="img04">
              <figcaption>
                <h3>{{content.parts-sensors-SMT}}</h3>
                <p>{{content.parts-sensors-SMT-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-SMT-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/sensors-wind.png" class="img-fluid" alt="img05">
              <figcaption>
                <h3>{{content.parts-sensors-Wind}}</h3>
                <p>{{content.parts-sensors-Wind-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-sensors-Wind-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/sensors-sound.png" class="img-fluid" alt="img06">
              <figcaption>
                <h3>{{content.parts-sensors-sound}}</h3>
                <p>{{content.parts-sensors-sound-text}}</p>
                <a class="btn btn-sensebox-green"
                  href="{{content.parts-sensors-sound-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-6 col-lg-4">
            <figure>
              <img loading="lazy" src="/images/products/parts/sensors-co2.png" class="img-fluid" alt="img07">
              <figcaption>
                <h3>{{content.parts-sensors-co2}}</h3>
                <p>{{content.parts-sensors-co2-text}}</p>
                <a class="btn btn-sensebox-green" href="{{content.parts-sensors-co2-link}}">{{content.parts-button}}</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
