{% assign content = site.data.i18n.[page.lang].products-senseboxbike %}
<div class="container">
    <div class="row row-padding">
        <div class="col-lg-8 middle">
            <h2 class="featurette-heading">senseBox:bike</h2>
            <p class="lead">{{content.bike-text}}</p>
        </div>
        <div class="col-lg-4 middle">
            <img loading="lazy" class="img-fluid mx-auto" src="/images/products/bike/bike_sattel.jpg" alt="Generic placeholder image">
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-4 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/bike/bike_sensors.jpg"
                alt="Generic placeholder image">
        </div>
        <div class="col-md-8 text-left middle">
            <h2 class="featurette-heading">{{content.bike-phenomenon-title}}</h2>
            <p class="lead">{{content.phenomenon-text}}</p>
        </div>
        <div class="phenos">
            <div class="sb-pheno">
                <div class="icon"><span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x" style="color: whitesmoke"></i>
                    <i class="fas fa-temperature-high fa-stack-1x fa-inverse" style="color:#3fbdeb;"></i>
                </div>
                </span><span>{{content.phenomenon-temperatur}}</span>
            </div>
            <div class="sb-pheno">
                <div class="icon">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x" style="color: whitesmoke"></i>
                        <i class="fas fa-percent fa-stack-1x fa-inverse" style="color:#3fbdeb;"></i>
                    </span>
                </div>
                <span>{{content.phenomenon-humidity}}</span>
            </div>
            <div class="sb-pheno">
                <div class="icon">

                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x" style="color: whitesmoke"></i>
                        <i class="fas fa-smog fa-stack-1x fa-inverse" style="color:#3fbdeb;"></i>
                    </span>
                </div>
                <span>{{content.phenomenon-pm}}</span>
            </div>
            <div class="sb-pheno">
                <div class="icon">

                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x" style="color: whitesmoke"></i>
                        <i class="fas fa-wave-square fa-stack-1x fa-inverse" style="color:#3fbdeb;"></i>
                    </span>
                </div>
                <span>{{content.phenomenon-acceleration}}</span>
            </div>
            <div class="sb-pheno">
                <div class="icon">

                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x" style="color: whitesmoke"></i>
                        <i class="fas fa-heart fa-stack-1x fa-inverse" style="color:#3fbdeb;"></i>
                    </span>
                </div>
                <span>{{content.phenomenon-speed}}</span>
            </div>
            <div class="sb-pheno">
                <div class="icon">

                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x" style="color: whitesmoke"></i>
                        <i class="fas fa-traffic-light fa-stack-1x fa-inverse" style="color:#3fbdeb"></i>
                    </span>
                </div>
                <span>{{content.phenomenon-distance}}</span>
            </div>
        </div>
    </div>
</div>

<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row row-padding featurette">
            <div class="col-md-7 middle">
                <h2 class="featurette-heading">{{content.bike-transmission-title}}
                </h2>
                <p class="lead">{{content.bike-transmission-text}}</p>
                
            </div>
            <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/home/bees.png"
                    alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-padding featurette">
        <div class="col-md-5 middle">
            <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/bike/bike_sattel.jpg"
                alt="Generic placeholder image">
        </div>
        <div class="col-md-7 middle">
            <h2 class="featurette-heading">{{content.bike-housing-title}}</h2>
            <p class="lead">{{content.bike-housing-text}}</p>
        </div>
    </div>
</div>

<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="row row-padding featurette">
            <div class="col-md-7 middle">
                <h2 class="featurette-heading">{{content.bike-example-title}}
                </h2>
                <p class="lead"> <a href="https://essen.aufraedern.org"> {{content.bike-example-text-link}} </a> {{content.bike-example-text}}</p>
                
            </div>
            <div class="col-md-5 middle">
                <img loading="lazy" class="featurette-image img-fluid mx-auto" src="/images/products/bike/aufraedern.png"
                    alt="Generic placeholder image">
            </div>
            
        </div>
    </div>
</div>