<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>senseBox:home</h1>
            <p>Ist die stationäre IoT-Umweltmessstation für Messungen im Outdoor Bereich. Citizen Scientist,
                Interessierte
                und Kommunen messen damit Umweltdaten an Ihren Wohnorten, oder wo es eben interessant ist. Die Station
                wird
                als Bausatz geliefert, ist vollständig modular und somit nahezu grenzenlos erweiterbar.

                senseBox:home Stationen messen beispielsweise die Luftqualität in Ballungsräumen, überwachen Pflanzen
                mit
                Hilfe von Licht- und Bodenfeuchtesensoren oder sammeln Daten über Lärmverschmutzung in Stadt und Land.
                Die
                senseBoxen übertragen ihre Daten je nach Wunsch kabelgebunden oder drahtlos ins Internet. Neben der
                Übertragung via WiFi steht außerdem die Möglichkeit der Übertragung via LoRaWAN zu Verfügung.

                Aktuell teilen fast 7000 Stationen ihre Daten auf der openSenseMap, der Datenplattform für die senseBox.
                Dort werden die Messdaten als Open Data veröffentlicht und kostenfrei zur Verfügung.
            </p>
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="row row-padding featurette">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="/images/products/home/sensoren.jpg"
                    alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Sensoren:</h2>
                <p class="lead">Wähle zwischen einer großen Anzahl von Sensoren aus, die du direkt anschließen
                    kannst.
                </p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row row-padding featurette" style="background-color: whitesmoke;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="featurette-heading">Datenübertragung:
                </h2>
                <p class="lead">Wähle zwischen drei verschiedenen Datenübertragung Modulen aus und passe so
                    die
                    senseBox:home
                    deiner Infrastruktur an.
                    Die senseBox:home sendet ihr Daten an die openSenseMap, sodass diese von überall
                    abrufbar sind.
                    Die
                    openSenseMap ermöglicht das Einfache sammeln und auswerten deiner Umweltdaten und über
                    die freie
                    Schnittstelle können die Daten auch in andere Systeme übertragen werden.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="/images/products/home/bees.png"
                    alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>
</div>


<div class="row row-padding featurette">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="/images/products/home/case.jpg"
                    alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Gehäuse</h2>
                <p class="lead">Die senseBox:home wird mit einem Gehäuse für den Mikrocontroller und dem Temperatur- und
                    Luftfeuchtigkeitssensor geliefert. Weitere Sensoren werden über das einfache Stecksystem im Gehäuse
                    angebracht oder je nach Sensor wird ein zusätzliches Gehäuse mitgeliefert. </p>
            </div>
        </div>
    </div>
</div>

<div class="row row-padding featurette" style="background-color: whitesmoke;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="featurette-heading">Zusammenbau
                </h2>
                <p class="lead">Die senseBox:home wird als Bausatz geliefert. Aber keine Sorge, der Aufbau ist so
                    einfach
                    wie
                    möglich gestaltet und du benötigst keine Vorerfahrung.

                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="/images/products/home/assembly.jpg"
                    alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>