{% assign research = site.data.i18n.[page.lang].research %}
{% assign awardslist = site.awards | sort: 'weight' %}

<div class="container">
    <div class="row row-padding">
        <div class="col-12">
            <h2></h2>
            <p>{{ research.main-text}}</p>

        </div>

        <div class="col-8">
            <p>{{ research.opensensemap}}</p>
        </div>
        <div class="col-4">
            <img loading="lazy" class="img-fluid" src="/images/research/research-osem.jpg">
        </div>

        <div class="col-4">
            <img loading="lazy" class="img-fluid" src="/images/research/research-blockly.jpg">
        </div>

        <div class="col-8">
            <p>{{ research.blockly}}</p>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h1>{{ research.publications-head }}</h1>
            <p>{{ research.publications-text }}</p>
            <a href="/research-publications.html" class="btn btn-sensebox-green">{{ research.publications-button }}</a>
        </div>
    </div>

    <hr class="clear nomargin">

    <div class="row">
        <div class="col-12">
            <h1 id="Förderung"><mark>{{research.funding-head}}</mark></h1>
        </div>
        <div class="col-4">
            <img loading="lazy" class="img-fluid" src="/images/awards/BMBF_CMYK_Gef_L.png">
        </div>
        <div class="col-8">
            <p>{{ research.funding-text }}</p>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <img src="/images/logos/reedu_white.png" class="partner-pic" alt="...">
        </div>

        <div class="col-6">
            <img src="/images/logos/Logo_ifgi_long.png" class="partner-pic" alt="...">
        </div>
    </div>
</div>