{% assign publications = site.data.publications | sort: 'year' | reverse %}
{% assign research-publications = site.data.i18n.[page.lang].research-publications %}

<div class="container">
    <div class="row row-padding">
        <div class="col-12">
            <h2>{{research-publications.journals}}</h2>
            <ul>
                {% for publication in publications %}
                {% if publication.orign == "sensebox" %}
                <li class="publication-list">
                    {% if publication.link %}<a href="{{publication.link}}">
                        {{ publication.author }} ({{publication.year}}): {{ publication.title }}.
                        {% if publication.journal %}{{publication.journal}}{% endif %}
                    </a>
                    {% else %}
                    {{ publication.author }} ({{publication.year}}): {{ publication.title }}. {% if
                    publication.journal %}{{publication.journal}}{% endif %}

                    {% endif %}
                </li>

                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-12">
            <h2>{{ research-publications.bachelor-master }}</h2>
            <ul>
                {% for publication in publications %}
                {% if publication.type == "bachelor" or publication.type == "master" %}
                <li class="publication-list">
                    {{ publication.author }} ({{publication.year}}): {{ publication.title }}

                </li>

                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-12">
            <h2>Erwähnungen</h2>
            <p>{{ research-publications.mentions }}</p>
            <ul>
                {% for publication in publications %}
                {% if publication.type == "Mentions" %}
                <li class="publication-list">
                    {{ publication.author }} ({{publication.year}}): {{ publication.title }}
                    {{publication.journal}}
                </li>

                {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>
</div>