{% assign atraibikes = site.data.i18n.[page.lang].research-atraibikes %} {%
assign awardslist = site.awards | sort: 'weight' %}

<div class="container">
  <div class="row row-padding">
    <div class="col-12 text-center">
      <img
        src="/images/logos/atraibikes/atraibike_logo.png"
        class="partner-pic"
        alt="..."
        style="min-height: 200px"
      />
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row row-padding">
    <div class="col-12">
      <h2>{{atraibikes.idea}}</h2>
      <p>{{atraibikes.idea-text}}</p>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-12">
      <h2>{{atraibikes.partners}}</h2>
      <p>{{atraibikes.partners-text}}</p>
    </div>
  </div>
  <div class="row row-padding align-content-center">
    <div class="col-4 text-center">
      <div class="card partner-card">
        <img
          src="/images/logos/reedu_white.png"
          class="partner-pic"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">{{ atraibikes.partner-reedu }}</p>
        </div>
      </div>
    </div>
    <div class="col-4 text-center flex align-content-center">
      <div class="card partner-card">
        <img
          src="/images/logos/atraibikes/52n_logo.webp"
          class="partner-pic"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">{{ atraibikes.partner-52n }}</p>
        </div>
      </div>
    </div>
    <div class="col-4 text-center">
      <div class="card partner-card">
        <img
          src="/images/logos/atraibikes/institut_cordial_logo.webp"
          class="partner-pic"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">{{ atraibikes.partner-sao-paulo }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Assoziierter Partner Section -->
  <div class="row row-padding">
    <div class="col-12">
      <h3>{{ atraibikes.associated-partners }}</h3>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-4 offset-4 text-center">
      <div class="card partner-card">
        <img
          src="/images/logos/atraibikes/openSenseLab-LogoTypo.svg"
          class="partner-pic"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">{{ atraibikes.associated-partner }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Projektbeschreibung Section -->
  <div class="row row-padding">
    <div class="col-12">
      <h3>Projektbeschreibung</h3>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-6 text-center d-flex flex-column align-items-center">
      <img
        src="/images/research/atraibikes/senseboxbike.jpg"
        class="img-fluid"
        alt="Projektbild 1"
        style="max-width: 500px; max-height: 300px"
      />
      <p class="mt-2">{{atraibikes.image-description-1}}</p>
      <p class="text-muted">
        <em>{{atraibikes.source}}: </em> Mario Pesch, 2024
      </p>
    </div>

    <div class="col-6 align-content-center">
      <p>{{atraibikes.project-description-text-1}}</p>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-12">
      <p>{{atraibikes.project-description-text-2}}</p>
      <p>{{atraibikes.project-description-text-3}}</p>
      <p>{{atraibikes.project-description-text-4}}</p>
      <p>{{atraibikes.project-description-text-5}}</p>
    </div>
  </div>

  <!-- Technologie Section -->
  <div class="row row-padding">
    <div class="col-12">
      <h3>{{atraibikes.technology}}</h3>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-12 text-center d-flex flex-column align-items-center">
      <img
        src="/images/research/atraibikes/senseboxbike_open.jpg"
        class="img-fluid"
        alt="Projektbild 1"
        style="max-width: 500px; max-height: 300px"
      />
      <p class="mt-2">{{atraibikes.image-description-2}}</p>
      <p class="text-muted">
        <em>{{atraibikes.source}}:</em> Mario Pesch, 2024
      </p>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-12 align-content-center">
      <p>{{atraibikes.technology-text-1}}</p>
      <p>{{atraibikes.technology-text-2}}</p>
      <p>{{atraibikes.technology-text-3}}</p>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-12">
      <h3>{{atraibikes.funding-title}}</h3>
      <div class="row row-padding">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <img src="/images/logos/qoool/BMBF_Logo.svg.png" class="img-fluid" />
          <div>{{atraibikes.funding-text}}</div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>
