{% assign videos = site.data.videos %}
<div class="container">
  {% if page.lang == "en" %}
  <div class="row">
    <p>Most videos are in german, but you can use the english subtitles.</p>
  </div>
  {% endif %}

  <div class="row row-eq-height">
    {% for video in videos %}
    <div class="col-6 project-item">
      <div class="well project-outer">
        <div class="project-inner">
          <div class="h4">{{video.name}}</div>
          <div class="project-content">
            {% include youtube.html id = video.id %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
