<div class="row">
    <div class="post-image">
        {% if include.image | slice 0,3 == "http://" or include.image | slice 0,4 == "https://" include.image | slice 0,2 == "www" %}
            {% if include.image contains "svg" %}
                <img src="{{ include.image }}" alt="{{ include.image }} - Logo" data-zoomable style="max-height: 10cm;" />
            {% else %}
                {% picture {{ include.image }}  alt="{{ include.image }} - Logo" data-zoomable style="max-height: 10cm;" %}
            {% endif %}
        {% else %}
        {% if include.image contains .svg" %}
        <img src="{{ site.baseurl | append: include.image }}" alt="{{ page.title }} - Logo" data-zoomable />
        {% else %}
            {% picture {{ site.baseurl | append: include.image }} alt="{{ page.title }} - Logo" data-zoomable %}
            {% endif %}
        {% endif %}
    </div>
</div>