{% assign content = site.data.i18n.[page.lang].footer%}

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md d-flex justify-content-center footer-logo">
      <div class="flex-column d-flex align-items-center">
        <img
          src="{{ site.baseurl }}/images/pressekit/senseBox_Icon_bunt.svg"
          alt="senseBox Logo"
          width="100"
          height="100"
        />
        <small class="pt-2 d-block mb-3 text-muted"
          >senseBox &copy; 2014-2025</small
        >
      </div>
    </div>
    <div class="col-6 col-md">
      <h5>{{ content.background }}</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a
            class="text-muted"
            href="{{site.baseurl }}/{{ page.lang }}{{content.about-us-link}}"
            >{{ content.about-us-name }}</a
          >
        </li>
        <li>
          <a
            class="text-muted"
            href="{{site.baseurl }}/{{ page.lang }}{{content.press-link}}"
            >{{ content.press-name }}</a
          >
        </li>
        <li>
          <a
            class="text-muted"
            href="{{site.baseurl }}/{{ page.lang }}{{content.network-link}}"
            >{{ content.network-name }}</a
          >
        </li>
        <li>
          <a
            class="text-muted"
            href="{{site.baseurl }}/{{ page.lang }}{{content.press-kit-link}}"
            >{{ content.press-kit-name }}</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>{{ content.support}}</h5>
      <ul class="list-unstyled text-small">
        <!-- <li><a class="text-muted" href="{{site.baseurl }}/{{ page.lang }}{{content.faq-link}}">{{content.FAQ}}</a></li> -->
        <li>
          <a class="text-muted" href="https://forum.sensebox.de/"
            >{{content.forum}}</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>{{ content.follow-us }}</h5>
      <ul class="list-unstyled text-small">
        <li class="pt-1">
          <i class="fab fa-github footer-icon px-1"></i
          ><a class="text-muted" href="https://github.com/sensebox">Github</a>
        </li>
        <li class="pt-1">
          <i class="fab fa-youtube footer-icon px-1"></i
          ><a
            class="text-muted"
            href="https://www.youtube.com/channel/UCxgu4moWYSb12OpS530M29A"
            >Youtube</a
          >
        </li>
        <li class="pt-1">
          <i class="fab fa-instagram footer-icon px-1"></i
          ><a
            class="text-muted"
            href="https://www.instagram.com/sensebox_de/?hl=de"
            >Instagram</a
          >
        </li>
        <li class="pt-1">
          <i class="fab fa-twitter footer-icon px-1"></i
          ><a class="text-muted" href="https://twitter.com/SenseBox_De"
            >Twitter</a
          >
        </li>
        <li class="pt-1">
          <i class="fab fa-facebook-square footer-icon px-1"></i
          ><a class="text-muted" href="https://www.facebook.com/sensebox.de/"
            >Facebook</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>{{content.about-title}}</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a
            class="text-muted"
            href="{{site.baseurl }}/{{ page.lang }}{{content.imprint-link}}"
            >{{ content.imprint-name }}</a
          >
        </li>
        <li>
          <a
            class="text-muted"
            href="{{site.baseurl }}/{{ page.lang }}{{content.privacy-link}}"
            >{{ content.privacy-name }}</a
          >
        </li>

        <li>
          <a
            class="text-muted"
            href="{{site.baseurl }}/{{ page.lang }}{{content.newsletter-link}}"
            >{{ content.newsletter-name }}</a
          >
        </li>
        <li>
          <a
            class="text-muted"
            href="{{site.baseurl }}/{{ page.lang }}{{content.contact-link}}"
            >{{ content.contact-name }}</a
          >
        </li>
        <li>
          <a class="text-muted" href="{{content.status-link}}"
            >{{ content.status-name }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.5/dist/medium-zoom.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    mediumZoom("[data-zoomable]");
  });
</script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/projects.js"></script>
