<div class="container">

    <div class="content">


        <h1 class="title">go:home</h1>
        <div class="ut-container">
            <div class="ut-item">
                <div class="ut-item-head">
                    <h1>Erste Schritte</h1>
                    <p>Alles zur Installation und zum Aufbau der senseBox</p>
                </div>
                <div class="ut-item-body">
                    <ol>
                        <li><a target="_blank"
                                href=https://sensebox.github.io/books-v2/home/de/erste-schritte/software-installation.html>Software
                                Installation</a>
                        </li>
                        <li><a target="_blank"
                                href=https://sensebox.github.io/books-v2/home/de/erste-schritte/anschluss-und-verkabelung.html>Anschluss
                                und Verkabelung</a>
                        </li>
                        <li><a target="_blank"
                                href=https://sensebox.github.io/books-v2/home/de/erste-schritte/registrierung-auf-der-openSenseMap.html>Registrierung
                                auf der openSenseMap</a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class=" ut-item">
                <div class="ut-item-head">
                    <h1>Komponenten</h1>
                    <p>Hier findest Du genaue Informationen zu den verschiedenen Komponenten der senseBox</p>
                </div>
                <div class="ut-item-body">
                    <ol>
                        <li><a target="_blank"
                                href=https://sensebox.github.io/books-v2/home/de/komponenten/sensebox-mcu.html>senseBox
                                MCU</a>
                        </li>
                        <li><a target="_blank"
                                href=https://sensebox.github.io/books-v2/home/de/komponenten/bees />Bees</a>
                        </li>
                        <li><a target="_blank"
                                href=https://sensebox.github.io/books-v2/home/de/komponenten/sensoren />Sensoren</a>
                        </li>
                        <li><a target="_blank"
                                href=https://sensebox.github.io/books-v2/home/de/komponenten/zubehoer />Zubehör</a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="ut-item">
                <div class="ut-item-head">
                    <h1>Wo finde ich Hilfe?</h1>
                    <p>Du benötigst Hilfe mit deiner senseBox, hier findest du die nötigen Informationen</p>
                </div>
                <div class="ut-item-body">
                    <ul>
                        <li><a target="_blank" href="https://forum.sensebox.de/">Forum</a></li>
                        <li><a href="mailto:support@sensebox.de">Email</a></li>
                        <li><a target="_blank" href=https://sensebox.github.io/books-v2/home/de/hilfe.html>FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class=" ut-item">
                <div class="ut-item-head">
                    <h1>Links</h1>
                    <p>Hier findest du Links rund um das senseBox Projekt</p>
                </div>
                <div class="ut-item-body">
                    <ul>
                        <li><a target="_blank" href="https://opensensemap.org/">openSenseMap</a></li>
                        <li><a target="_blank" href="https://blockly.sensebox.de/">Blockly für senseBox</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>