<div class="row des" style="justify-content: center;">
    <div class="post-image">
        {% if include.image | slice 0,3 == "http://" or include.image | slice 0,4 == "https://" include.image | slice 0,2 == "www" %}
        <img loading="lazy" src="{{ include.image }}" alt="{{ include.image }} - Logo" data-zoomable />
        {% else %}
        <img loading="lazy" src="{{ site.baseurl | append: include.image }}" alt="{{ page.title }} - Logo" data-zoomable />
        {% endif %}
    </div>
</div>