<div class="row">
    <div class="post-image">
        {% if include.image contains "http://" or include.image contains "https://" or include.image contains "www" %}
            <img src="{{ include.image }}" alt="{{ include.image }} - Logo" data-zoomable />
        {% else %}
            {% if include.image contains ".svg" %}
            <img src="{{ site.baseurl | append: include.image }}" alt="{{ page.title }} - Logo" data-zoomable />
            {% else %}
                {% picture {{ site.baseurl | append: include.image }} alt="{{ page.title }} - Logo" data-zoomable %}
            {% endif %}
        {% endif %}
    </div>
</div>