{% assign t = site.data.i18n.[page.lang].header %}
{% if page.id == "index" %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100 center-item">
        <div class="row align-item-center">
            <div class="col masthead-text">
                <h1 class="heading">{{t.title-claim}}</h1>
            </div>
            {% if page.thumbnail %}
            <div class="masthead-image-1">
                <!-- <img loading="lazy" class="rounded-circle" src="/images/index/osem.png" height="200px"> -->
                {% assign image_url = page.thumbnail %}
                <img loading="lazy" class="masthead-pic" src="{{ site.baseurl  | append: image_url }}"
                    alt="{{ page.title }} - Logo" />
            </div>
            {% endif %}
            {% if page.thumbnail2 %}
            <div class="masthead-image-2">
                <!-- <img loading="lazy" class="rounded-circle" src="/images/index/osem.png" height="200px"> -->
                {% assign image_url = page.thumbnail2 %}
                <img loading="lazy" class="masthead-pic" src="{{ site.baseurl  | append: image_url }}"
                    alt="{{ page.title }} - Logo" />
            </div>
            {% endif %}
            {% if page.thumbnail3 %}
            <div class="masthead-image-3">
                <!-- <img loading="lazy" class="rounded-circle" src="/images/index/osem.png" height="200px"> -->
                {% assign image_url = page.thumbnail3 %}
                <img loading="lazy" class="masthead-pic" src="{{ site.baseurl  | append: image_url }}"
                    alt="{{ page.title }} - Logo" />
            </div>
            {% endif %}
        </div>
    </div>
</header>

<div class="paperlike" style="height: 6rem;"></div>

{% elsif page.id == "products-parts" %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead-small">
    <div class="container-fluid h-100 center-item">
        <div class="sensor-grid">
            <h1>{{page.header}}</h1>
            {% for image in site.static_files %}
            {% if image.path contains 'images/products/parts/header' %}{% unless image.path contains 'orange' %}
            <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            {% endunless %}{% endif %}
            {% endfor %}
            {% for image in site.static_files %}
            {% if image.path contains 'images/products/parts/header' %}{% unless image.path contains 'orange' %}
            <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            {% endunless %}{% endif %}
            {% endfor %}
            {% for image in site.static_files %}
            {% if image.path contains 'images/products/parts/header' %}{% unless image.path contains 'orange' %}
            <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            {% endunless %}{% endif %}
            {% endfor %}
            {% for image in site.static_files %}
            {% if image.path contains 'images/products/parts/header' %}{% unless image.path contains 'orange' %}
            <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            {% endunless %}{% endif %}
            {% endfor %}
        </div>
    </div>
</header>

<div class="paperlike" style="height: 6rem;"></div>

{% else %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead-small">
    <div class="container-fluid h-100 center-item">
        <div class="row align-item-center">
            {% if page.thumbnail %}
            <div class="col-6 masthead-text">
                <div>
                    {% if page.header %}
                    <h1 class="heading">{{ page.header }}</h1>
                    {% else if page.title %}
                    <h1 class="heading">{{ page.title }}</h1>
                    {% endif %}
                    <h3>{{ page.description }}</h3>
                    {% if page.shoplink %}
                    <a class="btn btn-sensebox-white" href="{{ page.shoplink }}" role="button">{{ t.order-here }}</a>
                    {% endif %}
                    {% if page.docslink %}
                    <a class="btn btn-sensebox-white" href="{{ page.docslink }}" role="button">{{ t.docs-here }}</a>
                    {% endif %}
                    {% if page.edusetlink %}
                    <a class="btn btn-sensebox-white" href="{{ page.edusetlink }}" role="button">{{ t.edu-set-here
                        }}</a>
                    {% endif %}
                    {% if page.author %}
                    <span class="author">Von {{ page.author }} am {{ page.date | date: "%d/%m/%Y" }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-6 masthead-image">
                <!-- <img loading="lazy" class="rounded-circle" src="/images/index/osem.png" height="200px"> -->
                {% assign image_url = page.thumbnail %}
                <img loading="lazy" class="masthead-small-pic" src="{{ site.baseurl  | append: image_url }}"
                    alt="{{ page.title }} - Logo" />
            </div>
            {% else %}
            <div class="masthead-text">
                <div>
                    {% if page.header %}
                    <h1 class="heading">{{ page.header }}</h1>
                    {% else if page.title %}
                    <h1 class="heading">{{ page.title }}</h1>
                    {% endif %}
                    <h3>{{ page.description }}</h3>
                    {% if page.shoplink %}
                    <a class="btn btn-sensebox-white" href="{{ page.shoplink }}" role="button">{{ t.order-here }}</a>
                    {% endif %}
                    {% if page.docslink %}
                    <a class="btn btn-sensebox-white" href="{{ page.docslink }}" role="button">{{ t.docs-here }}</a>
                    {% endif %}
                    {% if page.author %}
                    <span class="author">Von {{ page.author }} am {{ page.date | date: "%d/%m/%Y" }}</span>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>

<div style="height: 6rem;"></div>
{% endif %}