<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/images/logos/sensebox_logo.svg" width="30" height="30"
                class="d-inline-block align-top" alt="">
            {{ site.title }} </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column" id="navbarResponsive">
            <ul class="navbar-nav navbar-first w-100 navbar-right">
                <li class="nav-item  {% if page.title == 'blog' %}active{% endif %}">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item  {% if page.title == 'events' %}active{% endif %}">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://forum.sensebox.de">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editoren.html">Editoren</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://opensensemap.org">openSenseMap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.sensebox.de">Dokumentation</a>
                </li>
                <li class="nav-item  {% if page.title == 'about-us' %}active{% endif %}">
                    <a class="nav-link" href="/about-us">Über uns</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-second w-100">

                <li class="nav-item {% if page.title == 'go' %}active{% endif %}">
                    <a class="nav-link" href="/go">LOS GEHT'S</a>
                </li>
                <li class="nav-item {% if page.title == 'products' %}active{% endif %}">
                    <a class="nav-link" href="/products">PRODUKTE</a>
                </li>
                <li class="nav-item {% if page.title == 'projects' %}active{% endif %}">
                    <a class="nav-link" href="/projects">PROJEKTE</a>
                </li>
                <li class="nav-item {% if page.title == 'material' %}active{% endif %}">
                    <a class="nav-link" href="/material">MATERIAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://sensebox.kaufen">SHOP</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="lang-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                            class="flag-icon flag-icon-us"></span>
                        Deutsch</a>
                    <div class="dropdown-menu" aria-labelledby="lang-dropdown">
                        <a class="dropdown-item" href="/en"><span class="flag-icon flag-icon-en"> </span> English</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% if page.id == "index" and page.banner %}
<div class="nav-banner">
    🦑 Neuer Workshop mit Björn <a class="btn btn-primary btn-sm" href="#" role="button">Jetzt Anmelden</a>
</div>
{% endif %}

{% if page.id == "index" %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center frosted">

                <h1 class="heading" style="color: black;">Dein Toolkit für digitale Bildung, Citizen Science und
                    Umweltmonitoring</h1>
            </div>
        </div>
    </div>
</header>

{% else %}

{% include header-image.html header=page.header description=page.description %}

{% endif %}