{% assign navbar-items = site.data.i18n.[page.lang].navbar %}
<nav class="navbar navbar-expand-xl">
    {% if page.lang == 'de' %}
        <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="/images/logos/sensebox_wort_logo.svg" class="d-inline-block align-top"
                alt=""></a>
    {% else %}
        <a class="navbar-brand" href="{{ site.baseurl }}/{{ page.lang }}"><img src="/images/logos/sensebox_wort_logo.svg" class="d-inline-block align-top"
            alt=""></a>
    {% endif %}

    <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
        aria-expanded="false" aria-label="Toggle navigation" class="navbar-dark navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <!-- Megamenu-->
            <li class="nav-item dropdown megamenu"><a id="megamenu" href="" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" class=" nav-link
                    dropdown-toggle font-weight-bold text-uppercase main-item">{{navbar-items.go-head}}</a>
                <div aria-labelledby="megamenu" class="dropdown-menu border-0 p-0 m-0">
                    <div class="container">
                        <div class="row bg-white navbar-polygon">
                            <div class="col-lg-12 col-xl-12">
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-lg-6 mb-4">
                                            <h6 class="font-weight-bold text-uppercase">{{navbar-items.go-fist-steps-with}}</h6>
                                            <ul class="list-unstyled">
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.go-home-link}}""
                                                        class=" nav-link text-small
                                                        pb-0">{{navbar-items.go-home-name}}</a>
                                                </li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.go-edu-link}}"
                                                        class="nav-link text-small pb-0">{{navbar-items.go-edu-name}}</a>
                                                </li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.go-mini-link}}"
                                                        class="nav-link text-small pb-0">{{navbar-items.go-mini-name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"
                    class="nav-link dropdown-toggle font-weight-bold text-uppercase main-item">{{navbar-items.products-head}}</a>
                <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                    <div class="container">
                        <div class="row bg-white navbar-polygon">
                            <div class="col-lg-7 col-xl-8">
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-lg-6 mb-4">
                                            <h6 class="font-weight-bold text-uppercase">Hardware</h6>
                                            <ul class="list-unstyled">
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.products-link}}""
                                                    class=" nav-link text-small
                                                        pb-0">{{navbar-items.products-name }}</a></li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.products-home-link}}""
                                                        class=" nav-link text-small
                                                        pb-0">{{navbar-items.products-home-name }}</a></li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.products-edu-link}}""
                                                            class=" nav-link text-small
                                                        pb-0">{{navbar-items.products-edu-name}}</a></li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.products-mini-link}}""
                                                                class=" nav-link text-small
                                                        pb-0">{{navbar-items.products-mini-name }}</a></li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.products-parts-link}}""
                                                                    class=" nav-link text-small
                                                        pb-0">{{navbar-items.products-parts-name }}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <h6 class="font-weight-bold text-uppercase">Software</h6>
                                            <ul class="list-unstyled">
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.editoren-link}}"
                                                        class=" nav-link text-small
                                                        pb-0">{{navbar-items.editoren-name }}</a></li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.blockly-link}}"
                                                        class=" nav-link text-small
                                                        pb-0">{{navbar-items.blockly-name }}</a></li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.opensensemap-link}}"
                                                        class=" nav-link text-small
                                                        pb-0">{{navbar-items.opensensemap-name }}</a></li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown megamenu"><a id="megamenu" href="" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"
                    class="nav-link dropdown-toggle font-weight-bold text-uppercase main-item">{{navbar-items.resources-head}}</a>
                <div aria-labelledby="megamenu" class="dropdown-menu border-0 p-0 m-0">
                    <div class="container">
                        <div class="row bg-white navbar-polygon">
                            <div class="col-lg-12 col-xl-12">
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-lg-6 mb-4">
                                            <ul class="list-unstyled">
                                                <li class="nav-item"><a href="{{navbar-items.docs-link}}"
                                                        class="nav-link text-small pb-0">{{navbar-items.docs-name}}</a>
                                                </li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.projects-link}}"
                                                        class="nav-link text-small pb-0">{{navbar-items.projects-name}}</a>
                                                </li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.material-link}}"
                                                        class="nav-link text-small pb-0">{{navbar-items.material-name}}</a>
                                                </li>
                                                <li class="nav-item"><a href="https://forum.sensebox.de"
                                                        class="nav-link text-small pb-0 ">Forum</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"
                    class="nav-link dropdown-toggle font-weight-bold text-uppercase main-item">{{navbar-items.about-us-head}}</a>
                <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                    <div class="container">
                        <div class="row bg-white navbar-polygon">
                            <div class="col-lg-7 col-xl-8">
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-lg-6 mb-4">
                                            <h6 class="font-weight-bold text-uppercase">{{navbar-items.about-us-head}}
                                            </h6>
                                            <ul class="list-unstyled">
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.team-link}}"
                                                        class="nav-link text-small pb-0 ">{{navbar-items.team-name}}</a>
                                                </li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.foerderung-link}}"
                                                        class="nav-link text-small pb-0 ">{{navbar-items.foerderung-name}}</a>
                                                </li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.network-link}}"
                                                        class="nav-link text-small pb-0 ">{{navbar-items.network-name}}</a>
                                                </li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.events-link}}"
                                                        class="nav-link text-small pb-0 ">{{navbar-items.events-name}}</a>
                                                </li>
                                                <li class="nav-item"><a
                                                        href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.contact-link}}"
                                                        class="nav-link text-small pb-0 ">{{navbar-items.contact-name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6 mb-4">
                                            <h6 class="font-weight-bold text-uppercase">Social Media</h6>
                                            <ul class="list-unstyled">
                                                <li><i class="fab fa-github footer-icon"></i><a
                                                        class="nav-link text-small pb-0 "
                                                        href="https://github.com/sensebox">Github</a>
                                                </li>
                                                <li class="nav-item"><i class="fab fa-youtube footer-icon"></i><a
                                                        class="nav-link text-small pb-0 "
                                                        href="https://www.youtube.com/channel/UCxgu4moWYSb12OpS530M29A">Youtube</a>
                                                </li>
                                                <li class="nav-item"><i class="fab fa-instagram footer-icon"></i><a
                                                        class="nav-link text-small pb-0 "
                                                        href="https://www.instagram.com/sensebox_de/?hl=de">Instagram</a>
                                                </li>
                                                <li class="nav-item"><i class="fab fa-twitter footer-icon"></i><a
                                                        class="nav-link text-small pb-0 "
                                                        href="https://twitter.com/SenseBox_De">Twitter</a></li>
                                                <li class="nav-item"><i
                                                        class="fab fa-facebook-square footer-icon"></i><a
                                                        class="nav-link text-small pb-0 "
                                                        href="https://www.facebook.com/sensebox.de/">Facebook</a></li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item"><a href="{{site.baseurl }}/{{ page.lang }}{{navbar-items.blog-link}}"
                    class="nav-link font-weight-bold text-uppercase main-item">{{navbar-items.blog-name}}</a></li>
            <li class="nav-item nav-shop"><a href="{{navbar-items.shop-link}}"
                    class="nav-link font-weight-bold text-uppercase main-item">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                      </svg>
                      {{navbar-items.shop-name}}</a></li>
            <li class="nav-item">
                {% if page.lang == 'de' %}
                <a class="nav-link font-weight-bold text-uppercase main-item"
                    href="{{ page.url | remove:'de/' | remove:'index.html' | prepend:'/en' | prepend: site.baseurl }}">EN</a>
                {% else %} {% if page.id == 'index' %}
                <a class="nav-link font-weight-bold text-uppercase main-item"
                    href="{{ page.url | remove:'en/' | remove:'index.html'| prepend: site.baseurl }}">DE</a>
                {% else %}
                <a class="nav-link font-weight-bold text-uppercase main-item"
                    href="{{ page.url | remove:'en/' | remove:'index.html' | prepend:'/de' | prepend: site.baseurl }}">DE</a>
                {% endif %} {% endif %}
            </li>
            <!-- <li class="nav-item"><a href={% if page.lang == 'de' %}"en"{% else if page.lang == 'en' %}"/"{% endif %}
                    class="nav-link font-weight-bold text-uppercase main-item">{% if page.lang == "de" %}EN{% else if page.lang == "en" %}DE{% endif %}</a>
            </li> -->
        </ul>
    </div>
</nav>