.btn-sensebox-red{
  background-color: rgb(252, 70, 43);
  color: white;
}

.btn-sensebox-green{
    background-color: rgb(67, 162, 56);
    color: white;
  }

.btn-sensebox-blue{
    background-color: rgb( 58, 176, 232);;
    color: white;
  }

.btn-sensebox-white{
    background-color:white;
  }
