ul {
  margin-top: 0.5rem;
  li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.btn-sensebox-red {
  background-color: rgb(252, 70, 43);
  color: white;
}

.btn-sensebox-green {
  background-color: rgb(67, 162, 56);
  color: white;
}

.btn-sensebox-orange {
  background-color: #f5b22f;
  color: white;
}

.btn-sensebox-blue {
  background-color: rgb(58, 176, 232);
  color: white;
}

.btn-sensebox-white {
  background-color: white;
  margin-bottom: 1rem;
}

.middle {
  margin-top: auto;
  margin-bottom: auto;

  .featurette-heading {
    margin: 0;
  }
}

.partner-card {
  display: block;
  border: none;
  .card-body {
    padding-top: 1.25rem;
    padding-left: 0px;
  }
}

// product template

.light-blue-background {
  background: #ddeaf0;
}

.clip-path-image {
  clip-path: polygon(5% 5%, 100% 10%, 90% 85%, 8% 90%);
  background: #ebebeb;
  padding: 3em 2em;
}

.clip-path-box1 {
  clip-path: polygon(100% 6.77%, 93.51% 89%, 0% 100%, 0% 0%);
}

.clip-path-box2 {
  clip-path: polygon(0% 93.22%, 6.48% 7.61%, 100% 0%, 100% 100%);
}

.clip-path-bottom {
  background: #4ba640;
  padding: 3em 1em;
  clip-path: polygon(15% 0, 60% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%, 0 0);
}
// end product template