.navbar-first{
    padding-left: 40px;
    font-size: smaller;
    float: right;
  }
  
  .navbar-second{
    padding-left: 40px;
    font-family: BrixSlab-Bold; 
    font-size: larger;
  }

  .navbar-brand {
    font-family: "BrixSlab-Regular";
  }


.active {
  > .nav-link{
    color: #669933!important;
  }
  
}

.heading{
  font-size: 4rem;
  color: white;
}

.subheading{
  font-size:1.2rem;
  color: white;
}

.frosted {
  /* For Chrome & Chromium 76+ */
  backdrop-filter: blur(200px);
  /* For Safari, classic Edge and Chrome/Chromium <=75 */
  -webkit-backdrop-filter: blur(200px);

  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  margin: 1rem;
  flex: auto;
}

.navbar-frosted {
  /* For Chrome & Chromium 76+ */
  backdrop-filter: blur(150px);
  /* For Safari, classic Edge and Chrome/Chromium <=75 */
  -webkit-backdrop-filter: blur(150px);
}
.nav-banner {
  position: absolute;
  top: 56px;
  width: 100%;
  text-align: center;
  background-color: $warning;
  padding: .6rem;
  z-index: 1;
  animation: 1s ease-out 0s 1 slideInFromTop;
 
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.megamenu {
  position: static;
}

.megamenu .container{
  display: table;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}
