.navbar-first{
    padding-left: 40px;
    font-size: smaller;
    float: right;
  }
  
  .navbar-second{
    padding-left: 40px;
    font-family: BrixSlab-Bold; 
    font-size: larger;
  }

  .navbar-brand {
    font-family: "BrixSlab-Regular";
  }


.active {
  > .nav-link{
    color: #669933!important;
  }
  
}

.heading{
  font-size: 4rem;
  color: lightgrey;
}

.subheading{
  font-size:1.2vw;
  color: lightgrey;
}