.navbar-first{
    padding-left: 40px;
    font-size: smaller;
    float: right;
  }
  
  .navbar-second{
    padding-left: 40px;
    font-family: BrixSlab-Bold; 
    font-size: larger;
  }

  .navbar-brand {
    font-family: "BrixSlab-Regular";
  }